/* +-------------------------------------------------+
// © 2002-2004 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: liste_bulletins.css,v 1.1 2006-11-17 18:36:01 touraine37 Exp $
*/

.liste_bulletins {
		float:left;
		width:31%;
		color:#ffffff;
		padding:2px;
}
