/* +--------------------------------------------------------------------------+
// ï¿½ 2002-2004 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: csm.css,v 1.23 2010-12-21 15:43:36 trenon Exp $
*/

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                         ATTRIBUTS GENERAUX                                 */
/*                                                                            */
/*  attrbitus gï¿½nï¿½raux de la page                                             */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
* {
	margin:0;
	padding:0;
	border:none;
}

body { 
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
}
#pmbopac{
	background:url('images/fond.gif');
	width:1024px;
	margin: 0 auto;
	text-align:center;
}
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            ID FIXES                                        */
/*                                                                            */
/*  feuilles de styles appliquï¿½es ï¿½ des id fixes                              */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

#intro {
	display:none;
}

#main #intro_message { /*utilisï¿½ ici comme un bandeau. A placer apres les balises main pour reinstancier le margin-left */
		background: white url('images/ban.jpg');
		background-repeat: no-repeat;
		height:172px;
		width:1024px;
		margin-left:-200px;
		position:absolute;
		top:0px;
	}      

	#intro_message .p1{ /* Liens menu horizontal superieur */
		position:absolute;
		top:129px!important;
		top:126px;
		width:100%;
		font-size:13px;
		font-weight:bold;
		text-align:left;
		padding-left:100px;
		padding-top:0px!important;
		padding-top:3px;
	}
	#intro_message .p1 a{
		display:list; 
		font-variant: small-caps;
		padding-left:10px;
		color:#b8101d;
		text-decoration:none;
		border-right:2px solid white;
		padding :0 40px;
		padding-top:3px;
	}
	#intro_message .p1 a:hover{
		text-decoration:underline;
	}
	#intro_message .p2{
		font-size:11px;
		color:#b8101d;
		font-weight:bold;
		position:absolute;
		left:220px;
		top:0px;
		text-align:right;
	}
	#intro_message img {
		position:absolute;
		top:-110px;
		left:10px;
		width:200px;
		height:100px;
	}
#intro_bibli {
	margin-right:15px;
}
	
	#intro_bibli h3{
		margin:2px 0 0 7px;
		font-size:11px;
		border:1px solid #666;
		border-bottom:1px solid #FFF;
		display:table;
		padding:0 5px;
		background:white;
	}
	
	#intro_bibli h3.span { }
	
	#intro_bibli .p1,
	#intro_bibli .p2 {
		text-indent:15px;
		padding: 5px 7px;
		border-right:1px solid #ccc;		
	}
	#intro_bibli .p2
	{ }
		
#all_footer { 
	position:absolute;
	top:600px;
	margin-left:20px;
}

	#main {
		min-height:600px;
		height:auto !important;
		height:600px;
		display: block;
		padding:180px 20px 0 200px;
		background:white url('images/logofond.gif') no-repeat 50% 130px;
		text-align:left;
	}
	
    #main  #search_crl {
    	clear:both;
    }      
	#main h3 { 
		font-size:13px;color:#0b5791;
	}
	#categories h3, #location h3,#rss h3,#last_entries h3 {
		padding-top:2px;
		height:18px;
		font-weight:bold;
		border-top:3px dotted #ccc;
		border-bottom:3px dotted #ccc;
		background-image:url('images/puce_h3.jpg');
		background-repeat:no-repeat;
		background-position:0 -1px;
		color:#fda700;
		font-size:14px;
		width:96%;
		padding:3px 2%;
	}	
	input{border:1px solid #ccc} 
.div_clr {
    	clear:both;
    	}  

	#location {
		clear:both;
		padding:20px 0;
	}
	#location-container{
		margin-top:20px;
	}
	#search, #onglets_list{
		border:1px solid #cccccc;
    	margin:30px 0;
    	padding:5px;
    	background:#eeeeee;
    	margin-bottom:10px;
	} 
	
	#search ul.search_tabs, #onglets_list ul.list_tabs{
        list-style:none;
		font-size:12px;
        clear:right;
        height:24px;
		position:relative;
		top:-26px;		
	}

	#search ul.search_tabs li, #onglets_list ul.list_tabs li{
		float:left;
		padding:3px 6px 0px 6px;
		margin-right:4px;
		margin-bottom:5px;
        height:17px;
		background : #d6c28d url("images/fond_brun.jpg") repeat-x;
	}

	#search ul.search_tabs li a, #onglets_list ul.list_tabs li a{
		text-decoration:none;
		font-weight:normal;
		color:#71674b;
		background-image: url("images/puce_brun.jpg");
		background-repeat: no-repeat;
		background-position:0 2px;
		padding-left:15px;
	}
          
	#search ul.search_tabs li#current, #onglets_list ul.list_tabs li#current{
		float:left;
		background : #d6c28d url("images/fond_vert.jpg") repeat-x;
		color:#444;
	}    

	#search p.p1 { 
		position:relative;
		top:-20px;
	}
	#search form{
		position:relative;
		top:-10px;
	}
	select{
		margin-bottom:5px;
		border:1px solid #ccc;
	}
	#search input{
		background:white;
		border:1px solid #ccc;
		margin-bottom:10px;
	}
	
	#search form .row input, textarea{
		border:1px solid #ccc;
		background:white;
	}
	
	/* Correctifs de positionnement, selon navigateur */
	#search form .row input{
		float:left;
		display:block;
	}	
	#search p.p1 { 
		position:relative!important;
		position:normal;
		top:-20px;
	}
	#search form{
		position:relative!important;
		position:normal;
		top:-5px;
	}
	#search .form-contenu input{
		position:relative!important;
		position:normal;
		top:10px
	}
	select{
		border:1px solid #ccc;
		margin-bottom:6px;
	}
	#search #simple_search_zone input{
		border:none;
	}
	#search .search_critere, #search .search_sous_critere select{
		position:relative!important;
		position:normal;
		top:5px;
	}
	#search .search_operator{
		position:relative!important;
		position:normal;
		top:7px;
	}
	#search input.text_query {
		background:white;
		border:1px solid #333333;
		height:18px!important;
		height:20px;
	}
	#add_field{
		position:relative!important;
		position:normal; 
		top:7px;
	}
	#search .search_dico{
		position:relative!important;
		position:normal;  
		top:-3px;
	}
	#search .search_sous_critere, #search .ext_search_txt{
		position:relative!important;
		position:normal; 
		top:3px;
	}
	
	
	#aut_see {
		border:1px solid #cccccc;
    	padding:5px;
    	background:#eeeeee;
    	margin-bottom:10px;
	}

	#navigator {
		display:block;
		border-bottom:1px solid #ccc;
		padding-bottom:10px;
	}
	#navigator strong {
		position:relative;
		top:-3px;
		font-weight:normal;
	}

	#navigator table {
		border-collapse:collapse;
		display:inline;
	}

	#navigator td {
		border-right:1px #FFFFFF solid;
		text-align:center;
		font-size:10px;
		font-weight:italic;
	}
	#navigator td a {
		text-decoration:none;
		padding-right:10px;
	}
	#navigator td >a:hover {
		text-decoration:underline;	
	}
/* informations ï¿½ ajouter pour afficher les catï¿½gories */
div.row_categ {
	display: block;
	clear: left;
}

#categories {
	/*display: block;*/
	margin-top:30px;
}

#categories h1 { }


#categories A {
	color:#fff;
	text-decoration:none;
}

#categories A:hover {
	color:#fff;
	text-decoration:underline;
}

/* informations ï¿½ ajouter pour afficher les catï¿½gories */
#categories-container{
	border:none;
	padding: 15px 15px 5px 20px;
	display:block;
}

div.category {	
	float:left;
	width:31%;
	color:#333;
	padding:2px;
}
		
#categories-container h2 {
	font-size:13px;
	padding-bottom :0px;
	padding-left:25px;
	color:#333;
	background-image:url('images/folder.png');
	background-repeat:no-repeat;

}

#categories-container h2 img {
	display:none;
}
	
#categories-container h2 img {padding-top:3px;}
#categories-container a {color:#333;}
#categories-container a:hover {color:#333;}
#categories-container h2 a {color:#0b5791;}
#categories-container h2 a:hover {color:#0a4878;}
#categories-container ul {margin:2px;}

#categories-container li  {
	display: inline;
}

#categories-container li a {
	text-decoration:none;
}
	
#categories-container li a:hover {
	text-decoration:underline;
}

#categories-container li:after  {
	content: " - "; 
}
	
#categories ul.search_tabs {
	display:block;
	width:100%;
	margin:10px 0 30px 0;
	list-style-type:none;
	font-size:12px;
}
#categories ul.search_tabs li{	
	float:left;
}
#categories ul.search_tabs li a{
	float:left;
	margin-top:2px;
	padding:1px 15px;
	height:10px;
	background:#eee;
	color:#555;
	border:1px solid #aaa;
	display:table;
	margin-right:-1px; /* Pour ne pas doubler les bordures */
}

#categories ul.search_tabs #current{
	border:1px solid #aaa;
	background:#c3ceda url('images/fond_bleu.jpg') repeat-x;
	float:left;
	padding:2px 15px;
	height:10px;
	display:table;
	margin-right:-1px; /* Pour ne pas doubler les bordures */
	font-weight:bold;
	color:#222;
}          	


/* Mise en page des colonnes d'affichage des recherches 
   par auteurs, ï¿½diteurs, collections , sous-collections et catï¿½gories */
.categ_colonne {
	width:33%;
	float:left;
}
/* reset des largeurs de #categories */
/* aprï¿½s un float:left; l'ï¿½lï¿½ment bloc suivant doit avoir l'attribut clear:both s?lectionn? pour ?viter un bug d'affichage */

#last_entries { 
	clear:both;
	/*margin-left:18%;*/
}

.etageres { 
	clear:both;	
}

#pageHeader 
	{ }

#bandeau {
	float:left;
	width:200px;
	position:absolute;
	top:180px;
	background:white url('images/bandeau_bas.png') no-repeat left bottom;
	padding-bottom:15px;
}

	#bandeau a {}
	#bandeau #accueil{
	}
	#bandeau div {
		height:100%;
		padding:0px;
		padding-left:15px;
		padding-right:5px;
		border-right:1px solid #ccc;
		margin-right:15px;
	}
	#bandeau #lang_select {border:none;}
	#bandeau #lang_select > span > form > select{border:1px solid #ccc;}
	#bandeau #adresse{
		border-bottom:1px solid #ccc;
		padding-bottom:10px;
	}
	#bandeau FORM input {border:1px solid #ccc;}

	#bandeau H3 {
		font-weight:bold;
		font-size:11px;
	}

	#bandeau P.centered {
		text-align:center;
	}

	#bandeau span {
		font-size:9px;
	}
		
	#bandeau h3 span {
		font-size:11px;
	}
	#bandeau li 
	{}
	#bandeau #adresse > h3 {
		padding-top:30px;
	}
	#bandeau #adresse{
		border-bottom:none;
	}

#footer {
	clear:both;
	padding: 5px;
	voice-family: "\"}\"";
	voice-family:inherit;
	text-align:center;
	margin-top:30px;
	border-top:1px dashed #ccc;
}
	
#footer a {
	color:#666;
	text-decoration:none;
	padding-right:2%;
}
#footer img{
	position:relative;
	top:3px;
}
#footer a:hover {
	text-decoration:underline;
}

#notice 
	{  }

	#notice h3
	{ }
		
	#notice span 
	{ }

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            BALISES HTML                                    */
/*                                                                            */
/*  feuilles de styles appliquï¿½es ï¿½ des balises sans classes ni id spï¿½cifiï¿½s  */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

A 	{
	color:#444444;
	}

A:hover {
	}

.categmouseout {
	border: solid 2px #555555;
	background-color: #FFFFFF;
	color: #000000;
	position: absolute;
	visibility:hidden;
	z-index: 2000;
}
.categmouseover {
	border: solid 2px #555555;
	background-color: #FFFFFF;
	color: #000000;
	position: absolute;
	visibility:visible;
	z-index: 2000;
	margin-top: 2px;
}

.listedescription {
	border: solid 2px #555555;
	background-color: #fff;
	color: #000000;
	position: absolute;
	visibility:hidden;
	z-index: 2000;
}
/*------------------------------------
/*	tableaux
/------------------------------------*/
table
	{ }

tr
	{ }

th
	{ text-align: left ;}

td.jauge
	{	}

td.visible
	{ }

td.visible-centered
	{ }

tr.even {
	background: #E0E0E0;
	}
tr.surbrillance {
	background: #EECCCC;
	}
tr.odd
	{ }

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            CLASSES GENERIQUES                              */
/*                                                                            */
/*  feuilles de styles appliquï¿½es ï¿½ classes de balises                        */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


/* divers pour les affichages simples de texte   */
/*-----------------------------------------------*/

.row
	{ clear: both; }

.right,
.right-50,
.right-15,
.right-85 
	{	float: right; }

.right-50 {	width: 50%; }

.right-15 {	width: 15%; }

.right-85 {	width: 85%; }


.right-clear-right,
.right-50-clear-right
	{	float: right;
		clear: right; }

.left-clear-left,
.left-50-clear-left
	{	float: left;
		clear: left; }

.left,
.left-50,
.left-15
	{	float: left;}

.left-50
	{	width: 50%;}

.left-15
	{	width: 15%;}

.left-85
	{	width: 85%;}

.spacer
	{	clear: both;
		visibility: hidden;
		display: none;
		margin-bottom: -10px;
		margin-top: -10px; }

.p1 {	}
	
.text_query 
	{  }

.fond-mere {
	}

.fond-article {
	}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            CLASSES LIEES A L'APPLICATION                   */
/*                                                                            */
/*  feuilles de styles appliquï¿½es ï¿½ des balises sans classes ni id spï¿½cifiï¿½s  */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

input.bouton, input.boutonrechercher 
	{ }

input.numero_page 
	{ }


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                       ONGLETS DE L'AFFICHAGE PUBLIC/ISBD                   */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

ul#onglets_isbd_public {
    list-style-type: none;
    padding-bottom: 24px;
    border-bottom: 1px solid #aaaaaa;
    margin: 0;
    padding-left:2px;
}

ul#onglets_isbd_public li {
    float: left;
    height: 21px;
    margin: 2px 2px 0 2px;
    border: 1px solid #aaaaaa;
    background-color: #cccccc;
}

ul#onglets_isbd_public li.isbd_public_active {
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
}

ul#onglets_isbd_public a {
    float: left;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 4px;
    cursor: default ;
}

ul#onglets_isbd_public li.isbd_public_inactive a:hover {
    background: #FFF;
    cursor: pointer ;
    }

ul#onglets_isbd_public li.onglet_basket,
ul#onglets_isbd_public li.onglet_basket a {
    border: none;
	background:none;
    cursor: pointer ;
	width:25px;
	}

ul#onglets_isbd_public li.onglet_tags,
ul#onglets_isbd_public li.onglet_tags a {
    border: none;
	background:none;
    cursor: pointer ;
	text-decoration:underline;
	}

/* Colonnes */
.colonne2 {
  float: left;
  width: 50%;
}

.colonne_suite {
  float: left;
}

.bg-grey {
  background-color: #eee;
}

/* Etageres */
#etageres { 
	background: #f7edb8;
	background-image: url('images/fond_rouge_sub.jpg');
	background-repeat:repeat-x;
	background-position:bottom;
}
#etagere { 
	
}
#etageres h3{ 
	background:white url('images/fond_rouge.jpg') no-repeat;
	border:none;
	padding:2px 10px 0 5px;
	display:block;
    height:17px;
	color:#444;
	font-size:12px;
	font-weight:normal;	
}
#etageres h3 span { 
	background-image:url('images/puce_rouge.jpg');
	background-repeat:no-repeat;
	background-position:0 3px;
	padding-left:15px;
	color:white;
	font-weight:bold;
}
#etagere-titre h1 {
	padding:10px 0 0 10px;
	font-size:12px;
	font-weight:bold;
	float:left;
}
#etagere-titre h1 a {
	color:#fe6100;
	text-decoration:none;
}
#etagere-titre h1 a:hover {
	text-decoration:underline;
}
#etagere-titre a {
}

#etagere-container{
		background-image: url('images/fond_rouge_sup.jpg');
		background-repeat: repeat-x;
}
#etagere-comment h2 {
	font-style:italic;
	font-size:12px;
	color:#e36c1c;
	padding:5px;
	text-align:right;
	height:14px;
	padding:10px;
}

#etagere-notice-list {
	clear:both;
	padding-left:25px;
}

#etagere-notice-list a {
	display:block;
}
#etagere-notice-list A:hover {
}
#rss{
	margin-top:20px;
}
/* barre de navigation */
#navigator table {
}

#navigator td {
}

.liste_bulletins {
    padding-left: 3px;
    padding-right: 3px;
    	}  
.notice-heada {
    font-family: verdana, helvetica, arial, geneva, sans-serif;
	text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}
.notice-parent {
    font-family: verdana, helvetica, arial, geneva, sans-serif;
    color: #000000;
    margin-left: 0px;
    font-size: 8pt;
    text-decoration: none
}
.img_plus {
	background-color: #ccc;
}
.notice-child {
    font-family: arial, helvetica, geneva, sans-serif;
    margin-left: 25px;
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
    text-align: justify;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #c0c0c0;
    border-right-style: none;
    border-top-style: none;
}
.notice-child td.bg-grey{
	width:20%;
	min-width:150px;
}

.heada {
    font-family: verdana, helvetica, arial, geneva, sans-serif;
	text-decoration: none;
    font-weight: bold;
}
.parent {
    font-family: verdana, helvetica, arial, geneva, sans-serif;
    color: #000000;
    margin-left: 0px;
    text-decoration: none
}
.child {
    font-family: arial, helvetica, geneva, sans-serif;
   margin-left: 25px;
    width: 98%;
    padding-left: 4px;
    padding-right: 4px;
    text-align: justify;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #c0c0c0;
    border-right-style: none;
    border-top-style: none;
}

iframe#iframe_resume_panier {
	width:100%;
	height:35px;
	border:none;
	}

/* Bannettes */
#bannette {
	background:#EEEEFF; 
	border:#cccccc 1px solid;
}

#bannette-titre h1 {
	margin:0px;
	padding:5px;
	font-size:13px;
	font-weight:bold;
}
#bannette-titre h1 a {
	color:#000000;
}

#bannette-titre a {
}

#bannette-comment h2 {
	width:97%;
	text-align:right;
	font-style:italic;
	font-size:16px;
	color:#ffffff;
	margin:0px;
	padding:0px;
	margin-top:-3px;
	padding-bottom:5px;
}

#bannette-notice-list {
	padding-left:5px;

}

#bannette-notice-list A {
}
#bannette-notice-list A:hover {
}

.alerte {
	color: red;
	font-size:14px;
	}

.echelle_avis {
	background-color: #eeeeee;
	padding: 7px;
	margin: 3px;
	border:1px solid #BBBBCC;
}

#titre-popup {
		margin-top:5px;
		padding-top: 5px;
		padding-bottom: 5px;
		background:#CCCCEE;
		border:1px solid #BBBBCC;
		color: #fee064;
	}

.etiq_champ {
	font-weight:bold;
	}

/* surlignage des mots recherchés */
.text_search0 {
	background-color: yellow;
	text-decoration: underline;
}

.text_search1 {
	background-color: #ff9988;
	text-decoration: underline;
}

.text_search2 {
	background-color: lightgreen;
	text-decoration: underline;
}

.text_search3 {
	background-color: lightblue;
	text-decoration: underline;
}

.text_search4 {
	background-color: lightgray;
	text-decoration: underline;
}

.text_search5 {
	background-color: orange;
	text-decoration: underline;
}

#websubscribe h1 {
	background:white url('images/fond_rouge.jpg');
	border:none;
	padding:2px 10px 0 5px;
	display:block;
    height:17px;
	color:#444;
	font-size:12px;
	font-weight:normal;	
	margin-top:20px;
}
#websubscribe h1 span { 
	background-image:url('images/puce_rouge.jpg');
	background-repeat:no-repeat;
	background-position:0 3px;
	padding-left:15px;
	color:white;
	font-weight:bold;
}

.subsform {
	width:200px;
}

#websubscribe .erreur {
	color: #FF0000 ;
	font-size:14px;
}

/*Suggestion Multiple*/

.tab_sug{
	table-layout: fixed;
}

table{
	border-collapse:collapse;
	margin: 10px 0;
	width:100%;
}
.tab_sug th, .tab_sug td{
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	overflow:hidden;	
	vertical-align:center;
	text-align: center;
	width : 100%;
}

.tab_sug  input, .tab_sug textarea{
   width:95%;
   height:100%;
}
.tab_sug select{
	width:95%;
}

.erreur_saisie {
	background-color: #ff0000;
}

/***********************
 * Carroussel bulletin *
 ***********************/
.carroussel_bulletin{
	text-align : center;
	/*border : 1px solid black;*/
}

.carroussel_bulletin .active{
	border : 1px solid black;
	cursor : pointer;
}

.carroussel_bulletin .current_bull_carroussel{
	border : 1px solid black;
	font-weight : bold;
}

.authorities{
	background : #A8A8A8;
}


/*---------------------------------------------------------------*
 *---------------------------------------------------------------* 
 * 		      Mise en forme de la fiche emprunteur				 *
 *---------------------------------------------------------------*
 *---------------------------------------------------------------*/
  
#empr_onglet {
}

#empr_onglet ul.empr_tabs{
	list-style:none;
	font-size:12px;
	position:absolute;
}

#empr_onglet ul.empr_tabs li{
	background: url("images/fond_brun.jpg") repeat-x scroll 0 0 #D6C28D;
    float: left;
    height: 17px;
    margin-bottom: 5px;
    margin-right: 4px;
    padding: 3px 6px 0;
}


#empr_onglet ul.empr_tabs li a{
	background-image: url("images/puce_brun.jpg");
    background-position: 0 2px;
    background-repeat: no-repeat;
    color: #71674B;
    font-weight: normal;
    padding-left: 15px;
    text-decoration: none;
}

#empr_onglet ul.empr_tabs li#current{
	background: url("images/fond_vert.jpg") repeat-x scroll 0 0 #D6C28D;
    float: left;
}

#empr_onglet ul.empr_tabs li#current a {
	background: none;
    color: #444444;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

ul.empr_subtabs{
	list-style:none;
    padding-top: 30px;
    margin-left: 10px;
}

ul.empr_subtabs li{
	display:inline-block;
	margin-bottom: 5px;
	margin-right: 5px;
	background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
}

ul.empr_subtabs li a{
	text-decoration:none;
	padding-right:0px;
	margin:1px 7px;
	height:17px;
}

#fiche-empr,#empr-all, #empr-late, #empr-old, #empr-resa, #empr-dsi, #empr-sugg, #empr-list, #empr-dema {
	padding-top: 15px;
	padding-left: 12px;
} 

#empr-list #onglets_list .list_tabs li#current a {
	background: none;
	padding-left: 0px;
}

#empr-list #onglets_list #div_mylist #list_cadre {
	border: none !important;
}

#empr-resa small form input, #make_sugg-container form table input.bouton {
	margin-top: 5px;
}

#make_sugg-container form table input, #make_sugg-container form table textarea, #make_sugg-container form table select {
	margin-bottom: 5px;
	margin-left: 5px;
}
