/* +--------------------------------------------------------------------------+
// � 2002-2007 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: layout.css,v 1.55.2.3 2011-10-03 14:56:32 trenon Exp $
*/

    body
	{
/*		position: relative;*/
      background: #E0E0E0 ;	
      margin:0;
      padding:0;
      color:#000;
      font:x-small/1.5em helvetica,Georgia,Serif;
      voice-family: "\"}\""; voice-family:inherit;
      font-size:small;
      } html>body {font-size:small;}

    #navbar
	{
		position: absolute;
		top: 0;
		float:left;
		width:100%;
		background:#E0E0E0 repeat-x bottom url("bg.gif");
		font-size:93%;
		line-height:normal;
		z-index:10;
	}

    #navbar h3
		{
			display: none;
		}

    #navbar ul {
      margin:0;
      padding:10px 10px 0;
      list-style:none;
      }
    #navbar li {
      float:left;
      background:url("fond_menu_2.png") no-repeat left top;
      margin:0;
      padding:0px 0px 0 0px;
      border-bottom:1px solid #765;
      width:150px;
      height:30px;
      }
    #navbar a {
      float:left;
      display:block;
      width:.1em;
      /*background:url("right_both.gif") no-repeat right top;*/
      padding:5px 15px 10px 35px;
      text-decoration:none;
      font-weight:bold;
      color: #2277A5;
      }
    #navbar > ul a {width:auto;}
    
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #navbar a {float:none;}
    /* End IE5-Mac hack */
    
    #navbar a:hover {
      color:#2d8fc4;
      }

    #navbar .current {
      float:left;
      background:url("fond_menu_actif_2.png") no-repeat left top;
      margin:0;
      padding:0px 0px 0 0px;
      border-bottom:1px solid #765;
      width:150px;
      height:30px;
      }
    #navbar .current a {
      padding:5px 15px 10px 35px;
      padding-bottom:5px;
      color: #2277A5;
      }
    #navbar li:hover, #header li:hover a {
      background:url("fond_menu_actif_2.png") no-repeat left top;
      }
    #navbar li:hover a {
     background:url("fond_menu_actif_2.png") no-repeat left top;
      }

/*	Menu	*/
#menu
{
	position: absolute;
	top: 10;
	left: 0;
	width: 13em;
	text-align: left;
	margin-left: 10px;
	padding: 0em;

}

#menu ul
{
	/*background:#bcbcbc;*/
	margin-top: -8px;
	margin-bottom: 10px;
	margin-left: -1px;
	margin-right: 0px;
	padding: 5px;
}

#menu li
{
	font-size: 90%;
	text-transform: lowercase;
	list-style-type: none;
	font-family: Verdana, Arial, sans-serif;
	font-size:10pt;
	font-weight:bold;
	background:url(fond_sous_menu_1.png) repeat-y left top;
	margin: 5px 0 0 0px;
	display: block;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-top: 0px;
	color :#000;
	/*widht:182;
	height:28;*/
}


#menu ul li a
{
	text-decoration: underline;
	color: #1D678E;
}

#menu ul li a:visited
{
    color: #1D678E;
	text-decoration: underline;
}

#menu ul li a:hover
{
    color: #2687B7;
	text-decoration: underline;
}

#menu h3
{
	padding: 0 0 0 0;
	margin : 1px 0px 8px 0px ;
	font-family: Verdana, Arial, sans-serif;
	font-size:10pt;
	font-style:italic;
	color:#2277A5;
	letter-spacing:0em;
	/*background:url(fond_menu_h3.png); no-repeat left top;*/
}
/*	/Menu	*/

.hmenu span{
		padding:0 5px;
   	}
   	
.vmenu span{
	display:block;
}
	/* General. setpref sert lors de l'enregistrement des preferences de disposition du menu. */
	#menu h3.setpref{background:#cdc188;}


/*	Contenu	*/
#contenu
{
	position: absolute;
	top: 10;
	right: 20px;
	left: 14em;
	/*width: 77%;*/
}

#contenu a
{
	text-decoration: underline;
	font-size: 10pt;
	color: #1D678E;
	/*padding-left: 10px;*/
}

		#contenu .hidelink a:link		{ text-decoration: none; }
		#contenu .hidelink a:visited	{ text-decoration: none; }
/*
		#contenu .hidelink a:hover		{ text-decoration: underline; }
*/
		/* utilis� pour les paniers : c'est un tag img avec un javascript onmousedown (pas un tag a) */
		#contenu .hidelink img			{ cursor: pointer; }
     

#contenu a:visited
{
	text-decoration: underline;
	color: #1D678E;
}

#contenu a:hover
{
	text-decoration: underline;
	color: #2687B7;
	font-size: 10pt;
}

#contenu label
{
	font-family: helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

/*	/Contenu	*/

/*	Contenu-frame	*/
#contenu-frame
{
	position: absolute;
	top: 10;
	right: 0;
	left: 0;
	width: 98%;
}

#contenu-frame a
{
	text-decoration: underline;
	font-size: 10pt;
	color: #1D678E;
	/*padding-left: 10px;*/
}

#contenu-frame a:visited
{
	text-decoration: underline;
	color: #1D678E;
}

#contenu-frame a:hover
{
	text-decoration: underline;
	color: #2687B7;
}

#contenu-frame label
{
	font-family: helvetica, Verdana, Arial, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}

#contenu-frame h1
{
	color : #B78210;
	padding-top: .5em;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13pt;
}

#contenu-frame h2
{
	color : #B78210;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12pt;

}


#contenu-frame table {
	border:none;
	background:transparent;
}

#contenu-frame td {
	border:none;
	background:transparent;
}

/*	/Contenu-frame	*/

/*	D�connexion	*/
#deconnexion a
{
	color: #f00;
}

#extra
{
	position: absolute;
	top: 0;
	right: 0;
	color: #000;
	text-transform: lowercase;
	z-index: 100;
}

#extra a
{
	color: #000;
}

#extra a:hover
{
	text-decoration: none;
}
/*	/D�connexion	*/



/*------------------------------------
/	Forms
/------------------------------------*/

form
{
	background-color: #CCD4D6;
	padding: 5px;
	margin: 0px auto;
	width: 98%;
}

.form-contenu
{
	border-top: 3px solid #BAA495;
	border-bottom: 3px solid #BAA495;
	border-left: 0px dotted #BAA495;
	border-right: 0px dotted #BAA495;
	padding: .5em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	padding-top: 1em;
}

form a
{
	color: #000;
	font-style: italic;
	text-decoration: none;
}

form a:hover
{
	text-decoration: underline;
}

/* formulaire de retour de document */
.form-retour-expl {
background: #BB0000;
color: #E0E0E0;
}
.form-retour-expl h3 {
color: #E0E0E0;
}


/*	/row	*/

form div.row
{

}
/*------------------------------------
/	/Forms
/------------------------------------*/

/* ************************************* */

/*	/row	*/

select option,
select
{
	text-transform: lowercase;
	font-weight: bold;
}

/*------------------------------------
/*	tableaux
/------------------------------------*/
table
{
	width: 100%;
	/* background: #AFBFDF; */
	border-collapse: collapse;
/*	border-left: 3px solid #7792C9;
	border-top: 3px solid #7792C9;
	border-right: 1px solid #7792C9;
	border-bottom: 1px solid #7792C9;*/
}

tr {
	font-style: normal;
}

td
{

}

tr.even
{
	background: #CCCCCC;
	/* color: #FFF; */
}

tr.odd
{

}

tr.surbrillance 
{
	background:#B0B0B0;
}

hr
{
	width:96%;
	height: 0;
	color: #BAA495;
	margin: 0;
	padding: 0;
	/*border-bottom: 1px solid #000;*/
}

/*	rounded corner box	*/

 .roundedCornerSpacer {
    margin: 0px; padding: 0px; border: 0px;
    clear: both;
    font-size: 1px; line-height: 1px;
}
/* In the CSS below, the numbers used are the following:
    1px: the width of the border
    3px: a fudge factor needed for IE5/win (see below)
    4px: the width of the border (1px) plus the 3px IE5/win fudge factor
    14px: the width or height of the border image
*/
.borderTL, .borderTR, .borderBL, .borderBR {
    width: 14px; height: 14px;
    padding: 0px; border: 0px;
}
.borderTL, .borderBL { float: left; clear: both; }
.borderTR, .borderBR { float: right; clear: right; }
.borderTL { margin: -1px 0px 0px -1px; }
.borderTR { margin: -1px -1px 0px 0px; }
.borderBL { margin: -14px 0px 0px 0px; }
.borderBR { margin: -14px 0px 0px 0px; }

/* IE5-5.5/win needs the border scooted to the left or right by an
   additional 3px! Why? */

.borderTL {
    margin-left: -4px;
    ma\rgin-left: -1px;
}
html>body .borderTL {
    margin-left: -1px;
}
.borderTR {
    margin-right: -4px;
    ma\rgin-right: -1px;
}
html>body .borderTR {
    margin-right: -1px;
}
.borderBL {
    margin-left: -3px;
    ma\rgin-left: 0px;
}
html>body .borderBL {
    margin-left: 0px;
}
.borderBR {
    margin-right: -3px;
    margin-right: 0px;
}
html>body .borderBR {
    margin-right: 0px;
}
/* To get around a known bug in IE5/win, apply the
   border (no margin, padding or positioning) to the
   content class and apply whatever positioning you
   want to the contentWrapper class. */

.content {
    margin: 0px;
    padding: 0px;
    border: 1px solid #00000;
}
.contentWrapper {
    /* position this div however you want, but
       keep its padding and border at zero */
    padding: 0px;
    border: 0px;
}

/*	/rounded corner box	*/

#contenu h1
{
	color : #B78210;
	padding-top: .5em;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13pt;
}

#contenu h2
{
	color : #B78210;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12pt;

}

#image_recherche
{
	position: absolute;
	top: 23px;
	left:14em;
	background: url("loupe.gif") repeat left bottom;
	padding: 5px;
	margin: 0px auto;
	width: 60px;
	height:70px;
	z-index:25;
}


#footer
{
	display: none;
	float: right;
	padding: 0;
	margin: 0;
	z-index: 0;
}

#footer span,
#footer span a
{
	font-family: Verdana, Arial, sans-serif;
	color:#B78210;;
	font-size:9pt;
	padding : 10px 0 0 5px;
	margin: 0 0 0 10px;

}
#footer a
{
	text-decoration: none;
}

#logo
{
	position: absolute;
	bottom: 0;
	left: -60px;
	/*background: transparent no-repeat bottom right url("books_small.gif");*/
	padding: 5px;
	margin: 0px auto;
	width: 200px;
	height:150px;
	z-index: 0;
}

#logo span
{
display:none;
}

@media screen {
#conteneur
{
	position: absolute;
	top: 4em;
	left: 0px;
	width: 100%;
	z-index:10;
}

}
#conteneur a
{
	text-decoration: underline;
	font-size: 10pt;
	color: #1D678E;
	/*padding-left: 10px;*/
}

#conteneur a:visited
{
	text-decoration: underline;
	color: #1D678E;
}

#conteneur a:hover
{
	text-decoration: underline;
	color: #2687B7;
	font-size: 10pt;
}

/*	categ browser
			body {
				margin-top: 3px;
				margin-left: 6px;
				font-family : Arial, Helvetica, sans-serif;
				font-size : 10pt;
			}
			A:link {
				color: #4C5EA8;
				text-decoration: underline;
			}
			A:visited {
				color: #4C5EA8;
				text-decoration: underline;
			}
			A:hover {
				color: #860000;
				text-decoration: underline;
			}
			A:active {
				color: #CC6600;
				text-decoration: underline;
			}
*/

img
{
	border: 0;
}

/***********************
 *	Classes g�n�riques
 ***********************/
.col
{
	float: left;
	width: 100%;
	padding: 1em;
	margin: 1em;
}

.erreur
{
	color: #f00;
	font-weight: bold;
}

.erreur-child
{
	display:none;
	margin-left: 12%;
    padding:0;
    color:#000;
    font-weight:normal;
}	

.hide
{
	display: none;
}

.aide
{
	cursor: help;
}

.astuce,
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 11pt;
	margin-top: 1em;
}

.bool
{
	font-family: fixed;
	font-weight: bold;
}

.row
{
  clear: both;
}

.row .etiquette
{
  /*float: left;*/
  /*text-align: right;*/
}

.row 
{
  /*float: right;
  text-align: left;*/
}

.row img
{
	display: inline;
}

.saisie-inline
{
	width: 80%;
}

.saisie-2em {	width: 2em; }
.saisie-5em
{
	width: 5em;
}

.saisie-10em
{
	width: 7.5em;
}

.saisie-15em
{
	width: 10em;
}

.saisie-20em
{
	width: 15em;
	
}

.saisie-30em
{
	width: 20em;
}

.saisie-50em
{
	width: 30em;
}
.saisie-60em {  width: 37.5em;}
.saisie-80em
{
	width: 40em;
}
/* pour les champs en readonly, avec bouton parcourir */
.saisie-5emr {	width: 5em;}
.saisie-10emr {	width: 7.5em;}
.saisie-15emr {	width: 10em;}
.saisie-20emr {	width: 15em;}
.saisie-30emr {	width: 20em;}
.saisie-50emr {	width: 30em;}
.saisie-80emr {	width: 40em;}

.saisie-85 {	width: 94%;}

/* pour les champs non modifiables */
.saisie-5emd,
.saisie-10emd,
.saisie-15emd,
.saisie-20emd,
.saisie-30emd,
.saisie-50emd,
.saisie-80emd
{	background-color:transparent;
	border-color:transparent;
	border-width:0;
}
.saisie-5emd {	width: 5em; }
.saisie-10emd {	width: 7.5em;}
.saisie-15emd {	width: 10em; }
.saisie-20emd {	width: 15em;}
.saisie-30emd {	width: 20em; }
.saisie-50emd {	width: 30em;}
.saisie-80emd {	width: 40em;}


.right,
.right-50,
.right-15,
.right-85
{
	float: right;
}

.right-50
{
	width: 50%;
}

.right-15
{
	width: 15%
}

.right-85
{
	width: 85%;
}


.right-clear-right,
.right-50-clear-right
{
	float: right;
	clear: right;
}

.left-clear-left,
.left-50-clear-left
{
	float: left;
	clear: left;
}

.left,
.left-50,
.left-15
{
	float: left;
}

.left-50
{
	width: 50%;
}

.left-15
{
	width: 15%;
}

.left-85
{
	width: 85%;
}
.spacer
{
	clear: both;
	visibility: hidden;
	display: none;
	margin-bottom: -10px;
	margin-top: -10px;
}

.saisie-contenu
{
	padding-left: 12px;
	padding-top: .3em;
	margin-top: .2em;
}

.bouton
{
	color: #fff;
	font-weight: bold;
	border: 1px solid #fff;
	background-color: #BC7D00;
}

.bouton:hover
{
	border: 1px solid #fff;
	background-color: #DB9200;

}

#login-box
{
	margin: 3em;
	padding-right: 0;
	margin-right: 0;
	padding-left: 15%;
	width: 50%;
}


h3
{
	clear: both;
	display: block;
	margin-bottom: 1px;
	margin-top: 1px;
	padding-bottom: 1px;
	padding-top: 1px;
}

.notice-perio
{
	border-top: 1px solid #684;
	border-bottom: 1px solid #684;
	border-left: 1px solid #684;
	border-right: 1px solid #684;
	padding: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.bulletins-perio
{
	border-top: 1px solid #684;
	border-bottom: 1px solid #684;
	border-left: 1px solid #684;
	border-right: 1px solid #684;
	padding: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.bulletins-perio h2 blockquote {
		font-size:0.8em;
		font-weight: normal;
}	

.depouillements-perio
{
	border-top: 1px solid #684;
	border-bottom: 1px solid #684;
	border-left: 1px solid #684;
	border-right: 1px solid #684;
	padding: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
}
.msg-perio {
	font-size: 150%;
	font-weight: bold;
	color: #f00;	
}
/* barre fl�ch�e en p�rio */
.perio-barre {
	font-size: 120%;
	font-weight: bold;
}

/* classes pour l'affichage de liste d�pliantes en r�sultat de recherche*/
.notice-heada {
	font-family: verdana, helvetica, arial, geneva, sans-serif;
	text-decoration: none;
	font-size: 10pt;
	font-weight: bold;
	}
.notice-parent {
	font-family: verdana, helvetica, arial, geneva, sans-serif;
	color: #000000;
	margin-left: 0px;
	font-size: 8pt;
	text-decoration: none
	}
.notice-child {
	font-family: verdana, helvetica, arial, geneva, sans-serif;
	font-size: 9pt;
	margin-left: 30px;
	width: 98%;
	padding-left: 4px;
	padding-right: 4px;
	text-align: justify;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #c0c0c0;
	border-right-style: none;
	border-top-style: none;
	}
	
	.notice-child table td img.img_notice {
    max-width: 140px;
	max-height: 200px;
	width: expression(this.width > 140 ? "140px" : true);
	height: expression(this.height > 200 ? "200px" : true);
}

table td .img_notice {
    max-width: 140px;
	max-height: 200px;
	width: expression(this.width > 140 ? "140px" : true);
	height: expression(this.height > 200 ? "200px" : true);
}

.notice-bu {
	margin-top: 0px;
	background-color: transparent;
	border-style: none;
}

/* classes pour l'affichage de liste d�pliantes en formulaire de saisie de notice */
.heada {
		font-size: 10pt;
		font-weight: bold;
		}
.parent {
	color: #000000;
	margin-left: 0px;
	font-size: 8pt;
	text-decoration: none
	}
.child {
	margin-left: 30px;
	}
.bu {
	margin-top: 15px;
	}

#el0Parent h3, 
#el1Parent h3,
#el2Parent h3,
#el3Parent h3,
#el230Parent h3,
#el4Parent h3,
#el5Parent h3,
#el6Parent h3,
#el7Parent h3,
#el8Parent h3,
#el9Parent h3,
#el10Parent h3,
#el11Parent h3,
#el30Parent h3,
#el41Parent h3,
#elbulParent h3,
#el14Parent h3  {
	font-size: 11pt;
	margin-bottom: 0px;
	margin-top: -1px;
	}

.titre-panier
{
	border-top: 1px solid #684;
	border-bottom: 1px solid #684;
	border-left: 1px solid #684;
	border-right: 1px solid #684;
	padding: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.table-no-border {
	border: none;
	}

table.docnum
{
	background: none;
	border-collapse: collapse;
	border-right: 0px ;
	border-left: 0px ;
	border-top: 0px ;
	border-bottom: 0px ;
	width: 98%;
}

td.docnum
{
	border-bottom: 0px solid #5450FF;
	border-top: 0px solid #5450FF;
	text-align: center;
}

.fond-mere {
	background-color: #4f72ff;
	}

.fond-article {
	background-color: #68df00;
	}

/* pour l'impression, des styles sont masqu�s*/
@media print {
  #conteneur 	{
		position: relative;
		clear:both;
		}

  #navbar
	{ display: none; }
  #menu
	{ display: none;}


  /*	Menu	*/
  #deconnexion 
	{ display: none; }
  #extra
	{ display: none; }
  .bouton
	{ display:none; }

  iframe#alerte
	{ visibility:hidden;	}
}

iframe#history {
	width:40%;
	height:97%;
	position:absolute; 
	top:1%; 
	left:1%;
	z-index:1000;
	}
	
* HTML iframe#history {
	height:580px;
	}

/* pour affichage de pav�s de couleur pour disinction des statuts de notices */
.statutnot1 {
	}
.statutnot2 {
	background-color: #BB0000;
	}
.statutnot3 {
	background-color: #00BB00;
	}
.statutnot4 {
	background-color: #0000BB;
	}
.statutnot5 {
	background-color: #D0686F;
	}
.statutnot6 {
	background-color: #A6DCDC;
	}
.statutnot7 {
	background-color: #816492;
	}
.statutnot8 {
	background-color: #BCB964;
	}
.statutnot9 {
	background-color: #6C75AC;
	}
.statutnot10 {
	background-color: #FFC587;
	}
.statutnot11 {
	background-color: #70C173;
	}
.statutnot12 {
	background-color: #660000;
	}
.statutnot13 {
	background-color: #006600;
	}
.statutnot14 {
	background-color: #000066;
	}
.statutnot15 {
	background-color: #80181F;
	}
.statutnot16 {
	background-color: #668C8C;
	}
.statutnot17 {
	background-color: #311442;
	}
.statutnot18 {
	background-color: #7C7914;
	}
.statutnot19 {
	background-color: #2C356C;
	}
.statutnot20 {
	background-color: #BF8547;
	}

.gris {
	color: grey;
}

.message_important {
	color: #f00;
	font-weight: bold;
	font-size: 1.5em;
	padding:5px;
	margin:5px;
	}

ul.sel_navbar {
      margin:5px;
      padding:0;
      list-style:none;
      clear:right;
      height:23px;
      float:left;
      margin-bottom:-1px;
	  border-bottom:1px solid #666666;  
}

ul.sel_navbar li {
	float:left;
	padding:3px 6px 0px 6px;
    border:1px solid #666666;  
    margin-right:4px;
	margin-bottom:5px;
    height:19px;
	background:#999999;
	color:#000000;
}

ul.sel_navbar li a {
	text-decoration:none;
	font-weight:normal;
	color:#000000;
}
      
ul.sel_navbar li.sel_navbar_current {
  	float:left;
  	padding:3px 6px 0px 6px;
  	background:#E0E0E0;
	border :1px solid #666666;  
	border-bottom:1px solid #E0E0E0;
	margin-bottom:4px;
    height:19px;
}

.dsi table th {
	background:#B0B0B0;
	border:1px solid #909090;
}
	
.dsi table tr td {
	border-left:1px solid #909090;
	border-right:1px solid #909090;
	border-bottom:1px solid #909090;
}

.dsi table.dsi tr td:hover {
	background:#A0A0A0;
}


#frame_notice_preview {
 border:2px solid #777799;
 border-radius:5px 5px; 
 -moz-border-radius:10px;
 padding:10px;
 z-Index:1000;
 position:absolute;
 background: #F4EC92;
 display:none;
 width:680px;
 height:500px;
}

.edit #contenu tr.group_title {
	background: #bec0ce;
	}	

#frame_periodique {
 border:2px solid #777799;
border-radius:5px 5px;
 -moz-border-radius:10px;
 padding:10px;
 z-Index:1000;
 position:absolute;
 background: #FFF0A7;
 display:none;
 width:190px;
 height:210px;
}
	
#frame_abts {
 border:2px solid #777799;
 border-radius:5px 5px;
 -moz-border-radius:10px;
 padding:10px;
 z-Index:1000;
 position:absolute;
 background: #FFF0A7;
 display:none;
 width:190px;
 height:250px;
}

#frame_trans_expls {
 border:2px solid #777799;
 border-radius:5px 5px;
 -moz-border-radius:10px;
 padding:10px;
 z-Index:1000;
 position:absolute;
 background: #ddf0a7;;
 display:none;
 width:500px;
 height:250px;
}

#a_recevoirChild .colonne_suite input {
	margin-right:20px;
}

.form-acquisition>.form-contenu #tot_ht, #tot_tva, #tot_ttc, #adr_fou, #adr_liv, #adr_fac, #tot_expl, #devise[class=saisie-5emd]{	
	border: 1px solid #aaa;
}

.req_cell {
	table-layout:fixed;
}
.req_cell th,
.req_cell td {
	border:1px solid #000000;
	border-collapse:collapse;
	padding-right:4px;	
}
.req_cell .col_ali {
	width:10%;
}
.req_cell .col_get,
.req_cell .col_vis,
.req_cell .col_grp,
.req_cell .col_tri {
	width:20px;
	padding-right:0px;
}
.req_cell .col_act,
.req_cell .col_obl {
	width:50px;
	padding-right:0px;
}
.req_cell .up_bt {
	vertical-align:top;
	cursor:pointer;	
}
.req_cell .down_bt {
	vertical-align:bottom;
	margin-left:-16px;
	cursor:pointer;	
}
.req_cell .stop_bt,
.req_cell .cross_bt {
	vertical-align:middle;
	width:16px;
	cursor:pointer;	
}
.in_cell,
.in_cell_nb,
.in_cell_ro,
.in_cell_nb_ro {
	width:99%;
	border:1px solid;
}
.in_cell_nb,
.in_cell_nb_ro {
	text-align:right;
}
.in_cell_ro,
.in_cell_nb_ro {	
	background-color: #dce4e6;
	border: 1px solid #684;
}


.in_cell_text{
	width:95%;
	border:1px solid;
}
.in_cell_rd,
.in_cell_ld {
	width:100%;	
	background-color:transparent;
	border-color:transparent;
	border-width:0;
}
.in_cell_rd {
	text-align:right;	
}
.in_cell_ld {
	text-align:left;
}

.req_ajax_div {
	border:1px #000 solid;
	left:0px;
	top:0px;
	position:absolute;
	background-color:#FFFFFF;
	z-Index:1000;
	height:200px;
	overflow:auto;
	display:none;
}

.req_row_handler {
	margin-left:5px;
	top:0px;
	cursor:pointer;	
}

#req_frame {
	border:2px solid #777799;
	border-radius:5px 5px;
	-moz-border-radius:10px;
	padding:5px;
	z-Index:1000;
	position:absolute;
	background: #FFF0A7;
	display:none;
}

.req_cell .bt_cross_elt {
 	vertical-align:bottom;
 	width:8px;
	cursor:pointer;
}
.act_cell {
	table-layout:fixed;
}
.act_cell th,
.act_cell td {
	border:1px solid #000000;
	border-collapse:collapse;
	padding-left:2px;
	padding-right:2px;
	vertical-align:top;	
	overflow:hidden;
}
.act_cell_chkbox {
	width:25px;
} 
.img_plus{background:#8cc6ff;}
.act_cell_img_plus {
	background:#8cc6ff;
	margin-left:-20px;
}
.act_cell_chkbox2 {
	margin-right:-20px;
}
.act_cell_comments table,
.act_cell_reminders table
{
	margin-top:0px;
	margin-bottom:0px;
}
.act_cell_comments tr,
.act_cell_reminders tr {
	background : #E0E0E0;
}
.act_cell_comments td,
.act_cell_reminders td
{
	margin-top:0px;
	margin-bottom:0px;
	border:none;
}

/**
 *  Couleur de fond et de liens du calendrier
 *
 **/
#calendrier_tab td.lien_date a{
	color:white;
}
#calendrier_tab td.lien_date {
	background:green;
}
#calendrier_tab td.lien_date_hs {
	background:red;
}
#calendrier_tab td.lien_date_hs_p {
	background:orange;
}
#up_frame{
	display:none;
	border:2px solid #777799;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:10px;
	z-Index:1000;
	position:absolute;
	background: #eee;
}
.recorded {
	color: #cc0000;
	font-weight: bold;
}
.pbar {
	width:710px;
	text-align:center;
}
.pbar_frame {
	border:#000000 1px solid;
	padding:4px;
}
.pbar_gauge {
	text-align:left;
}
#pbar_img {
	height: 16px;
	width:0px;
}
.dom_div {
	overflow:auto;
}
.dom_tab {
	table-layout:fixed;	
}
.dom_col {
	overflow:hidden;
	width:200px;
}
.dom_cell_tab {
	border:#000000 1px solid;
	overflow:hidden;
}

/*Suggestions multiples */
.tab_sug{
	table-layout: fixed;
}

table{
	border-collapse:collapse;
	margin: 10px 0;
	width:100%;
}
.tab_sug th, .tab_sug td{
	border:1px solid #CCCCCC;	
	/*vertical-align:center;*/
	text-align: center;
	overflow:scroll;
	width:100%;
}

.tab_sug  input, .tab_sug textarea{
   width:95%;
   height:100%;
   background:#F3F3F3;
}
.tab_sug select{
	width:95%;
}

.erreur_saisie {
	background-color: #ff0000;
}

table.sortable tr td {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;	
}
#recept_frame {
	border:2px solid #777799;
	border-radius:5px 5px;
	-moz-border-radius:10px;
	padding:5px;
	z-Index:1000;
	position:absolute;
	background: #E0E0E0;
	display:none;
}


#navbar-cms {
	float:left;
	margin:0;
	margin-right:5px;
	padding:0px 0px 0px 10px;
	border-top:2px solid #765;
	border-left:2px solid #765;
	border-bottom:1px solid #765;
	background: #FFF0A7;
	}
#navbar-cms a {
	float:left;
	padding:5px 13px 2px 6px;
	border-right:2px solid #765;
	border-bottom:0px solid #765;
	height: 100%;
	text-decoration:none;
	}
#navbar-cms.current {
	border-bottom:1px solid #C0F1C3;
	}
#navbar-cms.current a {
	color: #000;
	border-bottom:0px ;
	padding-bottom:2px;	}
	
#f_ex_note, #f_ex_comment {
	width: 90%;
}