body
{
	font-family: Arial, Helvetica, sans-serif;
}
pre
{
	margin-left: 10em;
	width: 40em;
	background-color: #FFFFCC;
	color: #000033;
	border: 1px solid #000033;
	padding: 0.5em;
}
p
{
	margin-left: 5em;
	text-align: justify;
}
p.important
{
	font-weight: bold;
	background-color: #FFCC00;
	color: Black;
	padding: 0.5em;
	border: 1px solid Black;
}
h1, h2, h3
{
	border-bottom: 1px solid Black;
}