/* +-------------------------------------------------+
// © 2002-2004 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +-------------------------------------------------+
// $Id: liste_bulletins.css,v 1.1 2007-08-17 13:29:32 jokester Exp $
*/

.liste_bulletins {
		float:left;
		width:31%;
		color:#ffffff;
		padding:2px;
}
