/* +---------------------------------------------------------------------------------------+
// ï¿½ 2002-2004 PMB Services / www.sigb.net pmb@sigb.net et contributeurs (voir www.sigb.net)
// +---------------------------------------------------------------------------------------+
// $Id: jette.css,v 1.26.2.6 2011-09-06 14:34:08 trenon Exp $
*/

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                         ATTRIBUTS GENERAUX                                 */
/*                                                                            */
/*  attributs gï¿½nï¿½raux de la page                                             */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


* {
	margin: 0px;
	padding: 0px;	
}

BODY  { 	
		font-size: 10pt;
		font-family: verdana, geneva, helvetica, arial;
		background-color: #FFFFD5;
		margin: 0em 0em 0em 0em; }
td{
	font-size : 11px;	
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            ID FIXES                                        */
/*                                                                            */
/*  feuilles de styles appliquï¿½es ï¿½ des id fixes                              */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

/* #container : partie d'affichage principale ï¿½ droite de l'ï¿½cran */
#container {
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding: 0px; 
	background:transparent;
	color: #000;
	voice-family: "\"}\"";
	voice-family:inherit;
	z-index: 10; 
	height: 100%;
	width: 100%;}

#intro {
	margin-top: 0px;
	margin-left: 14%;
	width:86%;
	padding: 0px;
	}
	
#intro_bibli {	
		padding-right: 0px;
		z-index: 2;
		}
	
	#intro_bibli h3 {	
		font-weight: semibold;
		font-size: 13pt;
		color : #ffffff;
		background : #0023A4;
		margin-bottom:15px;
		padding-left:10px;
		}
	
	#intro_bibli .p1,
		
	#intro_bibli .p2 { 
		font-size: 15pt;
		color:#aa0000;	
		padding: 0px 0px 0px 0px ;
		margin: 0px 0px 0px 0px ;
	}
	#intro_bibli .p2 { 	
		padding-bottom:8px ;
		font-size: 12pt;
	}
		

#main {	
		position:absolute;
		left: 14%;
		margin-right: 10px;
		padding: 0px;
		height: 100%;
		width:86%;
		top:110px;
}

#main h3{
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 15px;
		margin-right: 0px;
		padding-top: 0px;
		padding-left: 0px;
		padding-bottom: 0px;
		padding-right: 0px;
		font-weight: bold;
		text-align: left;
		border-bottom: dotted 1px #0023A4;
		font-size:11pt;
		color: #0023A4;
}

#main h3 span { 
		color:#0023A4;
		padding-left: 0px;
		padding-right: 20px;
		padding-bottom:-10px;
		margin-bottom:-10px;
}

#main ul.search_tabs li:hover {
	background: #EAFFFF;
}





	#main ul.search_tabs{
	      margin:0;
	      padding:0;
          list-style:none;
          clear:right;
          height:24px;
          background : url("pointsable.gif") repeat-x bottom left;
          }

	#main ul.search_tabs li{
		  float:left;
		  padding:3px 6px 0px 6px;
      border:1px solid #765;  
      margin-right:4px;
		  margin-bottom:5px;
      height:19px;
      border-bottom:none;  
		  background:#DFD087;
		  color:#0023A4;}
		  
	#main #search_onglet ul.search_tabs li{
		  margin-bottom:0px;
	}
	
	#main #search_onglet ul.search_tabs li.current {
		   background: none repeat scroll 0 0 #FFF0A7;
           border-bottom: 1px solid #FFF0A7;
	}

	#main ul.search_tabs li a{
		text-decoration:none;
		font-weight:normal;
		color:#333366;}
          
	#main ul.search_tabs li#current{
		  float:left;
		  padding:3px 6px 0px 6px;
		  background:#FFF0A7;
      border-bottom:1px solid #FFF0A7;
	    margin-bottom:4px;
      height:19px;
      }
          
#main #search_crl {
    	clear:both;
    	}      

.div_clr {
    	clear:both;
    	}  


#location {
	clear:both;
	}

/* Colonnes */
.colonne2 {
  float: left;
  width: 50%;
}

.colonne_suite {
  float: left;
}

/* informations pour afficher les catï¿½gories */
div.row_categ {
 clear: both;
}

#categories {
	display: block;
	}

#categories H1  
	{ 	font-weight: 500; 
		font-size: 1.5em; 
		background-color: transparent; 
		letter-spacing: 150%; 
		margin: 0.5em 0.2em 0.5em 0.5em; 
		display: inline; 
		}

div.category 
	{ 	float:left; 
		padding: 0.5em 0.2em; 
		width:30%;
		}
		
#categories-container H2  
	{ 	font-weight: bold; 
		font-size: 1em; 
		background: transparent; 
		margin-top: 0em; 
		margin-bottom: 0em; 
		}
		
#categories-container LI  
	{ 	font-size: 0.9em; 
		display: inline;
		}

#categories-container LI:after  
	{ 	font-size: 0.8em; 
		content: ", "; 
		}
		
#categories-container UL 
	{ 	margin-top: 0em;
		margin-bottom: 0em; 
		padding-left: 0em; 
		}

/* Mise en page des colonnes d'affichage des recherches 
   par auteurs, ï¿½diteurs, collections , sous-collections et catï¿½gories */
.categ_colonne {
	width:33%;
	float:left;
}		

.row { 
	clear: both; 
	margin-top: 5px;
	margin-bottom: 10px;
}
/* reset des largeurs de #categories */
/* aprï¿½s un float:left; l'ï¿½lï¿½ment bloc suivant doit avoir l'attribut clear:both s?lectionn? pour ?viter un bug d'affichage */
#last_entries { clear:both; }
#etageres { 
	margin-top:10px;
	clear:both; 
	}

#bandeau
	{<br />
		font-size: 0.8em;
		text-align: left;
		color:#000;
		background : transparent url("csp1.jpg")                  no-repeat top left; 
		position: absolute;
		margin: 0px;
		padding: 0px;
		padding-left:5px;
		padding-right:5px;
		padding-bottom:50px;
		height:100%;
		width: 12%;
		top:0px;
		
		}

	#bandeau A 
		{	color:#555555}


	#bandeau form 
		{	padding: 0 0 0 0 ;
			margin: 0 0 0 0 ; }

	#bandeau h3 
	{	color:#0023A4;
		font-weight: bold;
		font-size:9pt;
		text-align: left;
		background-color: #FFF0A7;
		margin: 0 0 0px 0 ;
		margin-left: -4px;
		padding-left:4px;
		margin-top: 0px ; }

	#bandeau span.meteo 
	{	text-transform:lowercase; 	}

	#bandeau ul 
	{	margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		padding: 0px;}
		
	#bandeau li 
	{	line-height: 1em;
		list-style-type: none;
		
		background: transparent no-repeat top center;
		display: block;
		padding-top: 0px;
		margin-bottom: 0px; }
		

#container #all_footer {
	position:absolute;
	margin-left:20%;
	display:none;
	width:1px;
	height:1px;
	z-index:1;
	background:#000000;
}

	
	#llogin li, #lmeteo li 
	{	background: no-repeat 0px 0px;
		padding-left: 0px;	}

	#llogin a, #lmeteo a 
	{ 	display:block; text-transform:lowercase; }
	
	#llogin a.c, #lmeteo a.c 
	{	display:inline; text-transform: none; }


#extraDiv1 	{ }
#extraDiv2 	{ }
#extraDiv3 	{ }
#extraDiv4 	{ }
#extraDiv5 	{ }
#extraDiv6 	{ }

#footer 
	{	
		clear:both;
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		width: 100%;
		background: #FFFFCC;
		color: transparent;
		text-align: center;
		voice-family: "\"}\"";
		voice-family:inherit; }
	
	#footer a:link, #footer a:visited 
	{	margin-left: 10px;
		margin-right: 10px;
		margin-top: 0px;
		margin-bottom: 0px;
		color:#A75204;
		font-size:9pt;
		font-weight: bold;	}

#notice 
	{ 	font-size:10pt; }

	#notice h3
	{	border-bottom: 1px solid #ddcB8C;
		border-top: 1px solid #ddcB8C; }
		
	#notice span 
	{	margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px; }

.img_plus {
		background-color: #FF6600;
}

#aut_details h3 {
	margin-bottom:4px;
}


#aut_see {
	border-bottom:1px solid #ddcB8C;
}

#aut_see H3 {
	border:none;
}

#aut_details_liste {
	margin-top:5px;
}
#aut_details_liste H3 {
	font-weight:bold;
	font-size:10pt;
	border:none;
}
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            BALISES HTML                                    */
/*                                                                            */
/*  feuilles de styles appliquï¿½es ï¿½ des balises sans classes ni id spï¿½cifiï¿½s  */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
P
	{ 	margin:8px;	}

P.centered
	{	text-align:center;	}
A 
	{	color: #A75204; }

A:hover 
	{ 	color: #000000; }

.categmouseout {
	border: solid 2px #555555;
	background-color: #FFFFFF;
	color: #000000;
	position: absolute;
	visibility:hidden;
	z-index: 2000;
}

.categmouseover {
	border: solid 2px #555555;
	background-color: #FFFFFF;
	color: #000000;
	position: absolute;
	visibility:visible;
	z-index: 2000;
	margin-top: 2px;
}

/*------------------------------------
/*	tableaux
/------------------------------------*/
table
	{ 	border-collapse: collapse; }

tr
	{ }

th
	{ 
	background: #C8D79B;
	text-align: left; 
	}

td.jauge
	{	background: #FFEBAC;
		border-top: 1px solid #ddcB8C;
		font-size: 11pt;
		text-align: center;
		border-right: 1px solid #b8da75;
		border-left: 1px solid #b8da75;	}

td.visible
	{	border-bottom: 1px solid #ddcB8C;
		border-top: 1px solid #ddcB8C; }

td.visible-centered
	{	border-bottom: 1px solid #ddcB8C;
		border-top: 1px solid #ddcB8C;
		text-align:center; }

.text_search0 {
	background-color: yellow;
	text-decoration: underline;
}

.text_search1 {
	background-color: red;
	text-decoration: underline;
}

.text_search2 {
	background-color: green;
	text-decoration: underline;
}

.text_search3 {
	background-color: blue;
	text-decoration: underline;
}

.text_search4 {
	background-color: maroon;
	text-decoration: underline;
}

.text_search5 {
	background-color: blank;
	text-decoration: underline;
}

tr.even
	{
	background: #FFF0A7;
	color: #000;
	}

tr.odd
	{
	background: #CFA087;
	color: #000;
	}

tr.surbrillance {
	background: #EECCCC;
	}

tr.tr_spacer 
	{
	height: 0px;
	}
td.td_spacer 
	{
	height: 0px;
	}


#bandeau DIV {	
	padding-bottom: 10px;
	width:100%;
	}

.bandeau DIV H3 SPAN {	
	color:#0023A4;
	}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            CLASSES LIEES A L'APPLICATION                   */
/*                                                                            */
/*  feuilles de styles appliquï¿½es ï¿½ des balises sans classes ni id spï¿½cifiï¿½s  */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

input.bouton, input.boutonrechercher 
	{	background:#DFD087;
		color:#7F7027;
		margin-left: 0px;
		margin-right: 0px; }

input.numero_page 
	{ border: 0px;}


#iframe_resume_panier {
	clear:both;
	position:relative;
	top:0px;
	left:0px;
	height:35px;
	width:100%;
	border:none;
}



/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                       MODIFICATIONS POUR L'IMRPESSION                      */
/*                                                                            */
/* pour l'impression, masquage de tags                                        */
/*                                                                            */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                       ONGLETS DE L'AFFICHAGE PUBLIC/ISBD                   */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


ul#onglets_isbd_public {
    font: bold 11px verdana, arial, sans-serif;
    list-style-type: none;
    padding-bottom: 24px;
    border-bottom: 1px solid #6c6;
    margin: 0;
    padding-left:2px;
    clear: both;
}

ul#onglets_isbd_public li {
    float: left;
    height: 21px;
    background-color: #cfc;
    margin: 2px 2px 0 2px;
    border: 1px solid #6c6;
    background-color: #EFE097;
}

ul#onglets_isbd_public li.isbd_public_active {
    border-bottom: 1px solid #FFF0A7;
    background-color: #FFF0A7;
}

#onglets_isbd_public a {
    float: left;
    display: block;
    color: #666;
    text-decoration: none;
    padding: 4px;
    cursor: default ;
}
#onglets_isbd_public li.isbd_public_inactive a:hover {
    background: transparent;
    cursor: pointer ;
    }

ul#onglets_isbd_public li.isbd_public_active {
    border-bottom: 1px solid #ffffff;
}

ul#onglets_isbd_public li.onglet_basket,
ul#onglets_isbd_public li.onglet_basket a {
    border: none;
	background:none;
    cursor: pointer ;
	width:25px;
	}

ul#onglets_isbd_public li.onglet_tags,
ul#onglets_isbd_public li.onglet_tags a {
    border: none;
	background:none;
    cursor: pointer ;
	text-decoration:underline;
	}

/* Etageres */
.etagere {
	border: 1px solid #0023A4;
	padding-bottom:1em;
	margin-bottom:1em;
}

#etagere-titre h1 {
	font-size:15pt;
	font-color:#0023A4;
}

#etagere-titre a {
	color:#0023A4;
}

#etagere-comment h2 {
	padding-left:2em;
	font-size:11pt;
}

#etagere-notice-list {
	padding-left:2em;
}

#navigator {
	margin-top:5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	}

#navigator table {
	background:#EFE097;
	border-collapse:collapse;
	}

#navigator td {
	border-left:3px #FFF0A7 solid;
	border-right:3px #FFF0A7 solid;
	text-align:center;
	font-size:0.9em;
	font-style:italic;
	}

/* informations ï¿½ ajouter pour afficher le cadre de recherche */
#search {
	}
	
#all_footer {
	display:none;
}

table.exemplaires {
	margin-bottom:10px;
}

.liste_bulletins {
    padding-left: 3px;
    padding-right: 3px;
    	}  
.echelle_avis {
	background-color: #eeeeee;
	padding: 7px;
	margin: 3px;
}

#titre-popup {
		margin-top:5px;
		padding-top: 5px;
		padding-bottom: 5px;
		background:#104DA0;
		border:1px solid #fee064;
		color: #fee064;
	}
.etiq_champ {
	font-weight:bold;
	}

/***********************
 * Carroussel bulletin *
 ***********************/
.carroussel_bulletin{
	text-align : center;
	/*border : 1px solid black;*/
}

.carroussel_bulletin .active{
	border : 1px solid black;
	cursor : pointer;
}

.carroussel_bulletin .current_bull_carroussel{
	border : 1px solid black;
	font-weight : bold;
}



/*---------------------------------------------------------------*
 *---------------------------------------------------------------* 
 * 		      Mise en forme de la fiche emprunteur				 *
 *---------------------------------------------------------------*
 *---------------------------------------------------------------*/
  
#empr_onglet {
 	    padding:0 10px;
}

#empr_onglet ul.empr_tabs{
	list-style:none;
	font-size:11px;
    clear:right;
    height:24px;
	position:absolute;
	margin-top:-0px;
	padding-left: 0px;
}

#empr_onglet ul.empr_tabs li{
	float:left;
	font-weight:bold;
	margin: 0 5px;
}

#empr_onglet ul.empr_tabs li a{
	background-color: #EFE097;
	background-repeat: no-repeat;
	background-position: left top;
	color:#0023A4;
	display:block;
	font-weight:normal;
	height:17px;
	padding:2px 7px;
	position:relative;
	text-decoration:none;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

#empr_onglet ul.empr_tabs li a:hover{
   	color: #0023A4;
   	background-color: #EAFFFF;
   	background-image:  none;
}

#empr_onglet ul.empr_tabs li#current{
	float:left;
	font-weight:bold;
    height:21px;
	background:#FFF0A7 !important;
	color: #0023A4;
}

#empr_onglet ul.empr_tabs li#current a {
	background: none;
	background-repeat: no-repeat;
	background-position: top left;
}

ul.empr_subtabs{
	padding:0;
	list-style:none;
    clear:right;
    padding-top: 40px;
}

ul.empr_subtabs li{
	border:1px solid #000000;
	margin:0 2px;
	display:inline;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

 ul.empr_subtabs li a{
	text-decoration:none;
	margin:1px 7px;
	height:17px;
}

#fiche-empr,#empr-all, #empr-late, #empr-old, #empr-resa, #empr-dsi, #empr-sugg, #empr-list, #empr-dema {
	padding:5px 12px 15px 12px;
} 

#empr-list #onglets_list #div_mylist #list_cadre {
	border: none !important;
}

#empr-list #onglets_list ul.list_tabs li {
	border:1px solid #000000;
	margin:0 2px;
	display:inline;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#empr-list #onglets_list ul.list_tabs li a {
	text-decoration: none;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 0.7em;
	padding-right: 0.7em;
}

#empr-list #onglets_list ul.list_tabs {
	margin-left: -41px;
}

.authorities{
	background : #A8A8A8;
}

.vignetteimg {
  max-width: 140px;
  max-height: 200px;
  width: expression(this.width > 140 ? "140px" : true);
  height: expression(this.height > 200 ? "200px" : true);
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                               Liens Sociaux                                */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


table td div.addthis_toolbox {
	margin-bottom: 10px;
}

a.addthis_button_facebook_like iframe {
	height: 20px !important;
    width: 60px !important;
}

a.addthis_button_tweet iframe {
    width: 105px !important;
}


/* -----------------------------------------------------*/
/*                 Liste périodiques                    */
/* -----------------------------------------------------*/


#perio_a2z {
	margin-bottom: 30px;	
}

#perio_a2z #onglets_isbd_public {
	margin-bottom: 0px;	
}

table.a2z_contens {
	margin-top: 10px;
}

table.a2z_perio_list {
	width: 200px;
	margin-right: 20px;
}

table.a2z_perio_list tr td {
	border-bottom: 1px solid #66CC66;
	padding-bottom: 3px;
}

#a2z_perio h3 {
	margin-top: 20px;
}

#a2z_perio b .header_title {
	font-size: 16px;
	text-transform: uppercase;
}

#a2z_perio .notice-child h3 span {
    padding-left: 0px;
    background-color: inherit;
    color: #451414;
}

#a2z_perio .navbar {
	margin-top: 10px;
}

input#a2z_abt_actif {
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 2px;
}

