/* 
	+--------------------------------------------------------------------------+
		2002-2008 PMB Services / www.sigb.net pmb@sigb.net et contributeurs
	+--------------------------------------------------------------------------+
			$Id: grps.css,v 1.0 2008/11/18 11:40:09 trenon Exp$
*/


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                         ATTRIBUTS GENERAUX                                 */
/*                                                                            */
/*  attributs generaux de la page                                             */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

body { 
	font-family : Arial,Helvetica,Sans-Serif;
	font-size : 12px;
}
img{
	border:none;
}
#pmbopac{
	width:950px;
	margin:0 auto;
	text-align:center;
	background:#fff;
	
}

input .bouton .boutonrechercher {
		background:white;
		border:1px solid #ccc;
}
	
input, textarea {
		background:white;
		border:1px solid #ccc;
}
	
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            ID FIXES                                        */
/*                                                                            */
/*  feuilles de styles appliquees a des id fixes                              */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

/*************************
	Iframe panier
*************************/
iframe#iframe_resume_panier {
	width:100%;
	height:35px;
	border:none;
}

#cart_info_iframe_content{
	font-family : Arial,Helvetica,Sans-Serif;
	font-size : 13px;
}

/****************************************************
		Regles principales du contenu de page
*****************************************************/
	
	#main {
		text-align:left;
		margin-top:200px;
		padding:170px 218px 3px 18px;
		width:722px;
		overflow:hidden;
		background:#006699;
		-moz-border-radius:9px;
		border:2px solid #000;
	}
	#main_hors_footer{
		min-height:600px;
		height:auto!important; /*car propriete min-height non reconnue par les ie < 7 */
		height:600px;
		background:#fff;
		padding:10px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		border-radius:8px;
		border-top:1px solid #465D66;
		border-left:1px solid #465D66;
	}
    #main  #search_crl {
    	clear:both;
    }      
	#main h3 { 
		font-size:13px;
		color:#0b4b66;
	}
	#main_hors_footer .bouton, #main_hors_footer .boutonrechercher{
		border:1px solid #ccc;
	}
	
	
	#categories h3,
	#location h3,
	#rss h3,
	#etageres h3,
	#last_entries h3{
		font-weight:bold;
		font-size:1.4em!important;
		font-size:1.2em;
		background:transparent url('images/h3_fond.png') 0% 100% no-repeat;
		font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
		font-weight: bold;
		color:#006699;
		text-transform:uppercase;
		margin-top:20px;
		margin-bottom:15px;
		padding-bottom:2px;
	}
	#categories h3 span,
	#location h3 span,
	#rss h3 span,
	#etageres h3 span,
	#last_entries h3 {
		padding-left:8px;
	}
	#last_entries h3, #etagere-container h3{
		left:0px;	
		position:static;
		margin-top:10px;
	}
	
.div_clr {clear:both;}  


/*******************************************
	Messages et banniere d'introduction 
*******************************************/
#intro_message {
		background:transparent url('images/bandeau.png');1d7fa8
		background-repeat: no-repeat;
		height:183px;
		width:958px;
		margin-left:-28px;
		position:absolute;
		top:0px;
	}
	#intro_message .p1{ /* Liens menu horizontal superieur */
		position:absolute;
		top:136px;
		font-size:13px;
		font-weight:bold;
		text-align:left;
		padding-left:100px;
		padding-top:0px!important;
		padding-top:3px;
	}
		#intro_message .p1 span a{
			display:list; 
			font-variant: small-caps;
			padding-left:10px;
			color:#b8101d;
			text-decoration:none;
			border-right:2px solid white;
			padding :0 40px;
			padding-top:3px;
		}
		#intro_message .lien_accueil {
			position:absolute;
			z-index:100;
			top:-140px;
			left:0px;
			width:958px;
			height:183px;
		}
		#intro_message #serpent{
			width:100px;
			height:100px;
			position:absolute;
			top:350px;left:500px;
		}
	#intro_message .p2{
		font-size:13px;
		color:white;
		position:absolute;
		left:0px;
		top:139px;
		z-index:200;
		-moz-border-radius-bottomright:3px;
		-moz-border-radius-bottomleft:3px;
		display:table;
	}
		#intro_message .p2 ul{
			list-style-type:none;
			margin:0;
			padding:0;
		}
		#intro_message .p2 li{
			float:left;
			margin:2px;
		}
	
#intro{
	display:block;
	position:absolute;
	top:0px;
	float:left;
	z-index:0;
	width:152px;
	padding-left:0px;
}
#intro_bibli {
	text-align:left;
	font-size:13px;
	width:700px;
	background:white;
	height:90px;
	position:absolute;
	overflow:hidden;
	top:220px;
	left:20px;
	z-index:50;
	padding:10px 10px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border-top:1px solid #465D66;
	border-left:1px solid #465D66;
}
	#intro_bibli .p1 p{
		text-indent:15px;
	}
	#intro_bibli ul{
		list-style-type:none;
		padding:0;
	}

	#intro_bibli h3{display:none;}
	#intro_bibli img{
		width:100px;
		overflow:hidden;
	}
	
	
	
/*******************************************
	Affichage des elements de recherche
*******************************************/
	
	#search, #onglets_list{
   	    margin:30px 0 10px 0;
   	    padding:5px;
   	    border:1px solid #ccc;
   	    -moz-border-radius-bottomleft:10px;
		-moz-border-radius-topright:10px;
		-moz-border-radius-bottomright:20px;
		-webkit-border-bottom-left-radius:10px;
		-webkit-border-top-right-radius:10px;
		-webkit-border-bottom-right-radius:20px;
		border-bottom-left-radius:10px;
		border-top-right-radius:10px;
		border-bottom-right-radius:20px;
	}
	#search{
		background:white;
	}
	#search .notice-child{
			border:none;
			padding-top:10px;
	}
	#search .notice-child input{
			border:none;
	}
	.search_dico{
		position:relative;
		top:-3px;
		left:3px;
	}
	#search ul.search_tabs, #onglets_list ul.list_tabs{
        height:20px;
        padding:0;
		margin-left:-6px;
		margin-top:-26px;		
        list-style:none;
		font-size:11px;
		padding-right:9px;
	}

	#search ul.search_tabs li, #onglets_list ul.list_tabs li{
		float:left;
		padding-left:3px;
		padding-right:3px;
		display:block;
	}

	#search ul.search_tabs li a, #onglets_list ul.list_tabs li a{
		float:left;
		text-decoration:none;
		font-weight:bold;
		color:white;
		height:16px;
		padding-top:4px;
		padding-left:10px;
		padding-right:10px;
		background:#0b4b66 url('images/ongletdegrade.png');
		border:1px solid #ddd;
		border-bottom:none;
		font-size:12px;
	}
    #search ul.search_tabs li a:hover, #onglets_list ul.list_tabs li a:hover{
    	color:#0b4b66;
    	border:1px solid #aaa;
    	border-bottom:none;
    	background:white url('images/ongletdegradehover.png');
    }
	#search ul.search_tabs li#current, #onglets_list ul.list_tabs li#current{
		float:left;
		color:#222;
		font-weight:bold;
		border:1px solid #ccc;
		border-bottom:none;
		background:white;
		height:16px;
		padding-top:4px;
		padding-left:10px;
		padding-right:10px;
		margin-right:3px;
		font-size:12px;
	}
	#search form{
		margin-top:8px;
	}
	#search input,
	#search select{
		font-size:13px;
		border:1px solid #cac7d4;
	}
	#search .row .text_query, #search #simple_search_zone{
		margin-top:10px;
	}
	#search .text_query,
	#search .bouton,
	#search .boutonrechercher,
	#search .ext_search_txt {
		background:white;
		border:1px solid #98a4d4;
	}
	
	#search .text_query:hover,
	#search .bouton:hover,
	#search .boutonrechercher:hover,
	#search .ext_search_txt:hover {
		border:1px solid #98a4d4;
	}
	#search .ext_search_txt{
		width:200px;
	}
	#search .search_submit input{
		border-color:#98a4d4;
		margin-top:15px;
		width:100px;
	}
		#search .search_submit input:hover{
			border-color:#98a4d4;
			cursor:pointer;
		}
	.search_sous_critere select{
		width:200px;
	}
	.search_critere{
		width:130px;
		display:block;
	}
	#search .text_query{
		padding:1px 0;
	}
	#search .boutonrechercher{
		cursor:pointer;
		-moz-border-radius:3px;
		background:white;
		color:black;
		border:1px solid #98a4d4;
	}
		#search .boutonrechercher:hover{
			border:1px solid #98a4d4;
			border-left:2px solid #98a4d4;
			border-right:2px solid #98a4d4;
		}	
	#search #zsimplesImg{
		background:#006699;
		position:relative;
		top:2px;
	}
	#aut_see {
		border:1px solid #cccccc;
    	padding:5px;
    	background:#eeeeee;
    	margin-bottom:10px;
	}
	#att{text-align:left;}
	
	
/****************************************
	Menu de navigation intra-Opac
****************************************/

	#navigator {
		display:block;
		margin-bottom:10px;
	}
	#navigator strong {
		display:table;
		height:14px;
		float:left;
		overflow:hidden;
		font-size:16px;
		padding:0 7px 0 5px;
		margin-right:10px;
	}

	#navigator table {
		border-collapse:collapse;
		display:inline;
	}

	#navigator td {
		text-align:center;
		font-size:13px;
		font-weight:italic;
		padding-top:2px;
	}
	#navigator td a {
		text-decoration:none;
		padding-right:10px;
	}
	#navigator td a:hover {
		text-decoration:underline;	
	}




/******************************************* 
		Affichage des categories 
*******************************************/

div.row_categ {
	display: block;
	clear: left;
}

#categories {
	margin-bottom:30px;
}

#categories-container {
	display:block;
	padding:8px;
	border:1px solid #ccc;

	min-height:110px;
	background:white;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:20px;
	border-bottom-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:20px;
}

div.category {	
	color:white;
	padding:2px;
}
		
#categories a {
	color:#ffffff;
	text-decoration:none;
}
#categories a:hover {
	color:#ffffff;
	text-decoration:underline;
}		

#categories-container h2 {
	font-size:13px;
	color:white;
}		
#categories-container h2 {
	font-size:12px;
	padding-bottom:2px;
	padding-left:20px;
	color:#333;
	background-image: url('images/folder.png');
	background-repeat:no-repeat;

}

#categories-container h2 img {display:none;}
#categories-container h2 a {color:#333;}
#categories-container h2 a:hover {color:#333;}
#categories-container ul {margin:2px;}
#categories-container li  {display: inline;}
#categories-container li a {text-decoration:none;color:#777;}
#categories-container li a:hover {text-decoration:underline;color:#555;}
#categories-container li:after  {content: " - "; }

	#categories ul.search_tabs{
        height:20px;
        padding:0;

		
		margin-bottom:0;	
        list-style:none;
		font-size:11px;
		
		padding-right:9px;
	}

	#categories ul.search_tabs li{
		float:left;
		padding-left:3px;
		padding-right:3px;
        
		display:block;
	}

	#categories ul.search_tabs li a{
		display:table;
		float:left;
		text-decoration:none;
		font-weight:bold;
		color:white;
		height:16px;
		padding-top:4px;
		padding-left:10px;
		padding-right:10px;
		background:#0b4b66 url('images/ongletdegrade.png');
		border:1px solid #ddd;
		border-bottom:none;
		font-size:12px;
	}
    #categories ul.search_tabs li a:hover{
    	color:#0b4b66;
    	background:white url('images/ongletdegradehover.png');
    	border:1px solid #aaa;
    	border-bottom:none;
    }
	#categories ul.search_tabs li#current{
		float:left;
		color:#222;
		font-weight:bold;
		border:1px solid #ccc;
		border-bottom:none;
		background:white;
		height:16px;
		padding-top:4px;
		padding-left:10px;
		padding-right:10px;
		margin-right:3px;
		font-size:12px;
	}   	

/*
		Colonnes d'affichage des recherches 
		par auteurs, editeurs, collections,
		sous-collections et categories 
*/
.categ_colonne {
	width:33%;
	float:left;
}


/*
				Reset des largeurs de #categories 
	apres un float:left; l'element bloc suivant doit avoir l'attribut 
	clear:both selectionne pour eviter un bug d'affichage 
*/
#last_entries { 
	clear:both;
	/*margin-left:18%;*/
}



/**********************************
		Affichage du bandeau
**********************************/
#bandeau { 
	position:absolute;
	top:220px;
	margin-left:763px;
	width:170px;
	background: white;
	padding:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	padding-bottom:15px;
	color:#222;
	text-align:center;
	border-top:1px solid #465d66;
	border-left:1px solid #465d66;
}
#rajout_cadre{
	position:absolute;
	top:573px;
	x-index:2000;
	margin-left:760px;
	width:170px;
	min-height:100px;
	height:auto!important;
	height:100px;
	background:white;
	padding:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	padding-bottom:15px;
	color:#222;
	text-align:center;
	border-top:1px solid #465d66;
	border-left:1px solid #465d66;
}
#bandeau a{
	color:#444;
	text-decoration:underline;	
}
#bandeau a:hover{
	text-decoration:none;
}

#bandeau form{
	margin: 0px 0px 0px 0px ;
 }

#bandeau h3{
	font-weight:bold;
	font-size:13px;
	margin-top:1.3em;
	margin-bottom:5px;
	padding:0.2em 0;
	padding-left:5px;
	text-align:left;
	color:#006699;
	background:transparent url('images/bandeauh3borderbottom.png') repeat-x bottom;
}
#bandeau #accueil h3{margin-top:0;}
#bandeau #connexion input{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	margin-bottom:3px;
}
#bandeau p.centered {
	text-align:center;
}
#bandeau li{}

#bandeau #login_form label{
	display:none;
	}

/*************************
		Etageres 
*************************/
#etageres { 
	clear:both;	
}

.etagere {
	padding:5px;
	padding-top:0px;
	border:1px solid #ccc;
	margin-top:5px;
	-moz-border-radius:7px;
}

.etagere .notice-child{
	border-left:none;
	border-bottom:2px solid #444;
	padding-bottom:20px;
		
}

#etagere-titre h1 {
	display:table;
	height:15px;
	overflow:hidden;
	padding:0 7px 0 5px;
	float:left;
	position:relative;
	left:-6px;
	margin-top:-1px;
	font-size:13px;
	font-weight:bold;
	padding-right:10px;
	background:#006699;
	-moz-border-radius-bottomright:10px;
}
#etagere-titre h1 a {
	color:white;
	text-decoration:none;
}

#etagere-comment h2 {
	font-style:italic;
	font-size:11px;
	color:#4c4755;
	padding-top:2px;
	margin-top:4px;
}

#etagere-notice-list {
	clear:both;
	padding:10px;
}

.notice-etagere-title-reduit {
	display:block;
}
#location {
	clear:both;
}
	#location table{
		border-top:none;
		padding:15px;
	}
	#location table img, 
	#aut_details .loc_comment img{
		background-color:#e6e6e6;
		-moz-border-radius:10px;
		padding:10px;
		margin-bottom:5px;
		display:block;
	}
	#location table img:hover, 
	#aut_details .loc_comment img:hover{
		background-color:#ddd;
	}
/*******************
	Flux rss
*******************/
#rss{
	margin-top:20px;
}

/*******************
	Inscription
*******************/
#websubscribe h1 {
	background:white url('images/fond_rouge.jpg');
	border:none;
	padding:2px 10px 0 5px;
	display:block;
    height:17px;
	color:#444;
	font-size:12px;
	font-weight:normal;	
	margin-top:20px;
}
#websubscribe h1 span { 
	background-image:url('images/puce_rouge.jpg');
	background-repeat:no-repeat;
	background-position:0 3px;
	padding-left:15px;
	color:white;
	font-weight:bold;
}

#websubscribe .erreur {
	color: #FF0000 ;
	font-size:14px;
}


/*******************
	Pied de page
*******************/
#footer {
	clear:both;
	padding:10px 15px 2px 5px;
	height:20px;
	voice-family: "\"}\"";
	voice-family:inherit;
	text-align:center;
	margin-top:20px;
	margin-bottom:5px;
	background:white;
	width:890px;
	color:#6f95a5;
	-moz-border-radius:3px;
}
	
#footer a {
	text-decoration:underline;
	padding:0 10px;
	color:#998b80;
}
#footer img{
	position:relative;
	top:3px;
}
#footer a:hover {
	text-decoration:none;
	color:#444;
}
.lien_pmb_footer{
	display:none;
}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            BALISES HTML                                    */
/*                                                                            */
/*  feuilles de styles appliquees a des balises sans classes ni id specifies  */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

a {color:#444444;}

a:hover {}

.zoom{
	border: solid 2px #555555;
	background-color: #FFFFFF;
	color: #000000;
	position: absolute;
	visibility:hidden;
	z-index: 2000;
}

.listedescription {
	border: solid 2px #555555;
	background-color: #fff;
	color: #000000;
	position: absolute;
	visibility:hidden;
	z-index: 2000;
}

/*------------------------------------
/*	tableaux
/------------------------------------*/

th {text-align:left;}

td.visible-centered{ }

tr.even {background: #E0E0E0;}
tr.surbrillance {background: #EECCCC;}
tr.odd{ }

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            CLASSES GENERIQUES                              */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


/* divers pour les affichages simples de texte   */
/*-----------------------------------------------*/

.row { clear: both; }

.right,
.right-50,
.right-15,
.right-85 {
	float: right;
}

.right-50 {	width: 50%; }

.right-15 {	width: 15%; }

.right-85 {	width: 85%; }


.right-clear-right,
.right-50-clear-right{
	float: right;
	clear: right;
}

.left-clear-left,
.left-50-clear-left{
	float: left;
	clear: left;
}

.left,
.left-50,
.left-15{
	float: left;
}

.left-50 {	width: 50%;}

.left-15 {	width: 15%;}

.left-85 {	width: 85%;}

.spacer {
	clear: both;
	visibility: hidden;
	display: none;
	margin-bottom: -10px;
	margin-top: -10px;
}

.p1 {}
	
.text_query {}

.fond-mere {}

.fond-article {}

/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            CLASSES LIEES A L'APPLICATION                   */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

input.bouton, input.boutonrechercher{}

input.numero_page{}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                       ONGLETS DE L'AFFICHAGE PUBLIC/ISBD                   */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/

ul#onglets_isbd_public {
    list-style-type: none;
    padding-bottom: 24px;
    border-bottom: 1px solid #aaaaaa;
    margin: 0;
    padding-left:2px;
}

ul#onglets_isbd_public li {
    float: left;
    height: 21px;
    margin: 2px 2px 0 2px;
    border: 1px solid #aaaaaa;
    background-color: #cde06b;
    overflow:hidden;
}

ul#onglets_isbd_public li.isbd_public_active {
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
}

ul#onglets_isbd_public a {
    float: left;
    display: block;
    height: 13px;
    padding:4px;
    
    color: #666;
    text-decoration: none;
    cursor: default ;
}

ul#onglets_isbd_public li.isbd_public_inactive a:hover {
    background: #FFF;
    cursor: pointer ;
}


ul#onglets_isbd_public li.onglet_tags,
ul#onglets_isbd_public li.onglet_tags a {
    border: none;
	background:none;
    cursor: pointer ;
	text-decoration:underline;
	}

/* Colonnes */
.colonne2 {
  float: left;
  width: 50%;
}

.colonne_suite {
  float: left;
}

.bg-grey {
  background-color: #508eb6;
  -moz-border-radius:2px;
  color:white;
}



.liste_bulletins {
    padding-left: 3px;
    padding-right: 3px;
    	}  
.notice-heada {
    font-family: verdana, helvetica, arial, geneva, sans-serif;
	text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}
.notice-parent {
    font-family: verdana, helvetica, arial, geneva, sans-serif;
    color: #000000;
    margin-left: 0px;
    font-size: 8pt;
    text-decoration: none
}
.img_plus {
	background-color: #ffcc00;
}
.notice-child {
    font-family: arial, helvetica, geneva, sans-serif;
    margin-left: 25px;
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
    text-align: justify;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #c0c0c0;
    border-right-style: none;
    border-top-style: none;
}
.notice-child td.bg-grey{
	width:20%;
	min-width:150px;
}
.notice-child .exemplaires{

}
.notice-child .exemplaires th {
	background:#bbb;
}
.notice-child .exemplaires td {
	background:#eee;border:none;
}

.heada {
    font-family: verdana, helvetica, arial, geneva, sans-serif;
	text-decoration: none;
    font-weight: bold;
}
.parent {
    font-family: verdana, helvetica, arial, geneva, sans-serif;
    color: #000000;
    margin-left: 0px;
    text-decoration: none
}
.child {
    font-family: arial, helvetica, geneva, sans-serif;
   margin-left: 25px;
    width: 98%;
    padding-left: 4px;
    padding-right: 4px;
    text-align: justify;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c0c0c0;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #c0c0c0;
    border-right-style: none;
    border-top-style: none;
}


/***********************
	 Bannettes 
***********************/
#bannette {
	background:#EEEEFF; 
	border:#cccccc 1px solid;
}

#bannette-titre h1 {
	margin:0px;
	padding:5px;
	font-size:13px;
	font-weight:bold;
}
#bannette-titre h1 a {
	color:#000000;
}

#bannette-titre a {
}

#bannette-comment h2 {
	width:97%;
	text-align:right;
	font-style:italic;
	font-size:16px;
	color:#ffffff;
	margin:0px;
	padding:0px;
	margin-top:-3px;
	padding-bottom:5px;
}

#bannette-notice-list {
	padding-left:5px;

}

#bannette-notice-list A {
}
#bannette-notice-list A:hover {
}

.alerte {
	color: red;
	font-size:14px;
	}

.echelle_avis {
	background-color: #eeeeee;
	padding: 7px;
	margin: 3px;
	border:1px solid #BBBBCC;
}

#titre-popup {
		margin-top:5px;
		padding-top: 5px;
		padding-bottom: 5px;
		background:#CCCCEE;
		border:1px solid #BBBBCC;
		color: #fee064;
	}

.etiq_champ {
	/*font-weight:bold;  intitules des notices en gras*/
	}
.notice-parent .header_title{
	font-weight:bold;
	color:#444;
	padding-left:7px;
}
.notice-child .public_title{
	font-weight:bold;
}

.notice-parent table{
	padding:8px 0;
}

blockquote ul{
	list-style-type:none;
}


/***************************************
	surlignage des mots recherches 
***************************************/
.text_search0 {
	background-color: #FFFF51;
	text-decoration: underline;
}

.text_search1 {
	background-color: #66FF66;
	text-decoration: underline;
}

.text_search2 {
	background-color: #99FFFF;
	text-decoration: underline;
}

.text_search3 {
	background-color: #FF99FF;
	text-decoration: underline;
}

.text_search4 {
	background-color: #FCD069;
	text-decoration: underline;
}

.text_search5 {
	background-color: #D7D7D7;
	text-decoration: underline;
}



.subsform {
	width:200px;
}

/*Suggestion Multiple*/

.tab_sug{
	table-layout: fixed;
}

table{
	border-collapse:collapse;
	width:100%;
}
.tab_sug th, .tab_sug td{
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	overflow:hidden;	
	vertical-align:center;
	text-align: center;
	width : 100%;
}

.tab_sug  input, .tab_sug textarea{
   width:95%;
   height:100%;
}
.tab_sug select{
	width:95%;
}

.erreur_saisie {
	background-color: #ff0000;
}

.categmouseout {
	border: solid 2px #555555;
	background-color: #FFFFFF;
	color: #000000;
	position: absolute;
	visibility:hidden;
	z-index: 2000;
}
.categmouseover {
	border: solid 2px #555555;
	background-color: #FFFFFF;
	color: #000000;
	position: absolute;
	visibility:visible;
	z-index: 2000;
	margin-top: 2px;
}

.listedescription {
	border: solid 2px #555555;
	background-color: #fff;
	color: #000000;
	position: absolute;
	visibility:hidden;
	z-index: 2000;
}

/***********************
 * Carroussel bulletin *
 ***********************/
.carroussel_bulletin{
	text-align : center;
	/*border : 1px solid black;*/
}

.carroussel_bulletin .active{
	border : 1px solid black;
	cursor : pointer;
}

.carroussel_bulletin .current_bull_carroussel{
	border : 1px solid black;
	font-weight : bold;
}

.authorities{
	background : #A8A8A8;
}



/*---------------------------------------------------------------*
 *---------------------------------------------------------------* 
 * 		      Mise en forme de la fiche emprunteur				 *
 *---------------------------------------------------------------*
 *---------------------------------------------------------------*/
  
#empr_onglet {
	margin-top: 25px;
}

#empr_onglet ul.empr_tabs{
	list-style:none;
	font-size:11px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	margin-top: -20px;
}

#empr_onglet ul.empr_tabs li{
	float:left;
	margin-right: 5px;
}

#empr_onglet ul.empr_tabs li a{
	background: url("images/ongletdegrade.png") repeat scroll 0 0 #0B4B66;
    border-color: #DDDDDD #DDDDDD -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: white;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    text-decoration: none;
}

#empr_onglet ul.empr_tabs li a:hover{
   	color:#0b4b66;
    border:1px solid #aaa;
    border-bottom:none;
    background:white url('images/ongletdegradehover.png');
}

#empr_onglet ul.empr_tabs li#current{
	background: #ffffff;
    border-top: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #ffffff;
    float: left;
    font-size: 12px;
    height: 15px;
    margin-right: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
}

#empr_onglet ul.empr_tabs li#current a {
	background: none;
	border: none;
	color: #222222;
	font-weight: bold;
	padding: 0;
}

#empr_onglet ul.empr_tabs li#current a:hover {
	font-style: inherit;
}

ul.empr_subtabs{
	border: 1px solid #B9B9BA;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
}

ul.empr_subtabs li{
	border: 1px solid #CCCCCC;
	margin-right: 5px;
	margin-bottom: 5px;
	display:inline-block;
	background: #2B5578;
	padding: 0.2em;
}

 ul.empr_subtabs li a{
	text-decoration:none;
	height:17px;
    color: #ffffff;
}

#fiche-empr,#empr-all, #empr-late, #empr-old, #empr-resa, #empr-dsi, #empr-sugg, #empr-list, #empr-dema {
} 

#empr-list #onglets_list #div_mylist #list_cadre {
	border: none !important;
}

#empr-list #onglets_list ul.list_tabs li {
	display:inline-block;
}

#empr-list #onglets_list ul.list_tabs li a {
	text-decoration: none;
	padding-left: 0.7em;
	padding-right: 0.7em;
	border-top: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #ffffff;
}

#empr-list #onglets_list ul.list_tabs li a:hover {
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}

#empr-list #onglets_list ul.list_tabs li#current a {
	background: none;
    border: none;
    float: left;
    color: #222222;
    font-size: 12px;
    height: 16px;
    margin-right: 3px;
    padding-top: 0px;
}

#empr-list #onglets_list {
	margin-top: 30px;
}

.vignetteimg {
  max-width: 140px;
  max-height: 200px;
  width: expression(this.width > 140 ? "140px" : true);
  height: expression(this.height > 200 ? "200px" : true);
}


/*---------------------------------------------------------------*
 *---------------------------------------------------------------* 
 * 		               Onglets de recherche  	     			 *
 *---------------------------------------------------------------*
 *---------------------------------------------------------------*/
 

#search_onglet ul.search_tabs{
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 0px;	
    list-style:none;
	font-size:11px;
	padding-left: 0px;
}

#search_onglet ul.search_tabs li{
	display: inline;
}

#search_onglet ul.search_tabs li a{
	text-decoration:none;
	font-weight:bold;
	color:white;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:10px;
	background-image: url('images/ongletdegrade.png');
	background-repeat: repeat-x;
	border:1px solid #ddd;
}

#search_onglet ul.search_tabs li a:hover{
    color: #0b4b66;
    background: url('images/ongletdegradehover.png');
    background-repeat: repeat-x;
    background-color: #ffffff;
    border: 1px solid #aaa;
    border-bottom:none;
}
	
#search_onglet ul.search_tabs li.current a {
	color:#222;
	border:1px solid #ccc;
	border-bottom:none;
	background:white;
} 

#resultatrech_see {
	margin-bottom: 10px;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                               Liens Sociaux                                */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


table td div.addthis_toolbox {
	margin-bottom: 10px;
}

a.addthis_button_facebook_like iframe {
	height: 20px !important;
    width: 60px !important;
}

a.addthis_button_tweet iframe {
    width: 105px !important;
}


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/*                            Liste périodiques                               */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


#perio_a2z {
	margin-top: 20px;
}

#perio_a2z h3 {
}
   
table.a2z_contens {
	margin-top: 10px;
}

table.a2z_contens td {
	vertical-align: top;
}

table.a2z_perio_list {
	width: 220px;
	margin-right: 10px;
}

table.a2z_perio_list tr td {
	border-bottom: 1px solid #cccccc;
    padding-bottom: 3px;
    padding-top: 2px;
}

#a2z_perio b .header_title {
	font-size: 16px;
	text-transform: uppercase;
}

#a2z_perio h3 {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#a2z_perio .navbar {
	margin-top: 10px;
}

input#a2z_abt_actif {
	vertical-align: middle;
	margin-left: 2px;
	margin-right: 2px;
}

#form_search_bull form {
	margin-top: 10px;
}

#form_search_bull form table td {
	vertical-align: middle;
}
