html, body, div, span, applet, object, 
iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, dl,
dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody,
tfoot, thead, tr, th, td{
outline-color: -moz-use-text-color;
outline-style: none;
outline-width: 0pt;
vertical-align: baseline;
}

#menuBar{
	position: absolute;
	z-index: 999;
	width: 904px;
	height: 38px;
	top: 98px;
	left: 17px;
	color: #ffffff;
	text-align: left;
	background-image: url("images/fondMenuBar.png");
	background-position: left top;
	background-repeat: no-repeat;
	margin-top:0px;
	padding: 0px;
}

/* menu
-------------------------------------------------------*/
#nav, #nav ul {
	padding: 0px 20px 0px 20px;
	margin: 0;
	list-style: none;
}
#nav a{
	font-weight:normal;
	text-decoration:none;	
}
#nav li {
	float: left;	
	margin:0;
	padding: 0px 0px 0px 0px;	
	line-height:38px;
}
#nav li.on{
	background-color:#000000;	
}
#nav li a{
	display: block;
	color:#FFFFFF;
	font-size:12px;
	text-transform: uppercase;
	padding:0px 5px 0px 5px;
}

.cifreOn, #nav li.cifre a:hover{
	background-image: url('images/cifreOn.png');
	background-position:left top;
	background-repeat:repeat-x;	
}
.futurisOn, #nav li.futuris a:hover{
	background-image: url('images/futurisOn.png');
	background-position:left top;
	background-repeat:repeat-x;	
}
.europeOn, #nav li.europe a:hover{
	background-image: url('images/europeOn.png');
	background-position:left top;
	background-repeat:repeat-x;	
}
.defaultOn, #nav li.default a:hover{
	background-image: url('images/defaultOn.png');
	background-position:left top;
	background-repeat:repeat-x;	
}
/* sous-menu passif
-------------------------------------------------------*/
#nav li ul {
	position: absolute;	
	left: -999em;
}
/* sous-menu actif
-------------------------------------------------------*/
#nav li ul li{
	line-height:1.2em;
}

/* image de fond sur tout le ul = layer
-------------------------------------------------------*/
#nav li:hover ul {
	left: auto;
	padding:0px;
	background-image: url('images/fondLayer.png');
	background-position:left top;
	background-repeat:no-repeat;
	
}
#nav li:hover ul li{
	clear:both;
	width:198px;
	text-align:center;
}
#nav li:hover ul li:hover{
	width:198px;
}
#nav li:hover ul li a{
	width:178px;
	display:block;
	border-top: 1px solid white;
	font-size:11px;
	color:#FFFFFF;
	text-transform:none;
	margin:0px auto 0px auto;
	padding:5px 0px 5px 2px;
	text-align:left;
}

/* rool-over sur les sous-menus
-------------------------------------------------------*/
#nav li:hover ul li a:hover{
	color:#FFFFFF;
	/*background-image: url('images/sousmenu_on.png');
	background-position:left top;
	background-repeat:no-repeat;*/
	background-color:#96958D;
}

/* Formulaire de recherche
-------------------------------------------------------*/
form.menu_search{
	float:right;
	width:auto;
	display: block;
	color:#FFFFFF;
	font-size:12px;
	text-transform: uppercase;
	padding:0;
	margin:0;
	line-height:38px;
}
form.menu_search input{
	width:130px;
	height:12px;
	padding:0px 0px 2px 2px;
	font-size:10px;
}
form.menu_search input[type="submit"]{
	width:20px;
	height:16px;
	margin:0 10px 0 10px;
	padding:0px;
	border:none;
	background-color:#000000;
	color: #FFFFFF;
}
